.conteudo-exercicio {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.folder-exercicio {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.tabela-exercicio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exercicio-ativo {
  color: #6c757d;
  font-weight: bold;
}

.exercicio-inativo {
  color: #dc3545;
  font-weight: bold;
}

