.conteudo-derivacao {
  background: #ffffff;
}
.titulo-modal-derivacao {
  background: #f6f6f6;
  font-weight: bold;
}
.barra-modal-derivacao {
  position: relative;
  top: -2px;
  height: 3px;
  width: 100px;
  border-radius: 2px;
}
.curso-svg {
  cursor: pointer;
}
.curso-svg:hover {
  text-decoration: none !important;
}