<div class="container-fluid py-2 h-100">
  <div class="row h-100 py-2 py-md-4">
    <div class="col-md-8 order-last px-0 px-md-3">
      <div class="mx-2 mx-md-0 mt-2 mt-md-0 h-100">
        <app-derivacao
          color="#4e73df"
          colorSecundary="#4e73df"
          colorSecundaryFinal="#3f5bad"
          colorBase="#354c8f"
          colorBaseFinal="#273d7e"
          [arvoreManager]="arvoreManager"
          [selecao]="selecao"></app-derivacao>
      </div>
    </div>
    <div class="col-md-4 order-md-last d-flex flex-column px-0 px-md-3">
      <div class="mx-2 mx-md-0 mt-2 mt-md-0">
        <app-console [console]="console" color="#4e73df"></app-console>
      </div>
      <div
        class="mx-2 mx-md-0 mt-2 mt-md-4"
        *ngIf="
          !etapasEmProgresso.derivacao() &&
          !etapasEmProgresso.inicializacao() &&
          !arvoreManager.getArvore().isCompleto
        ">
        <app-formula
          [formula]="formula"
          (eventConfirm)="iniciarEstudo($event)"></app-formula>
      </div>

      <div class="mx-2 mx-md-0 mt-2 mt-md-4 h-100">
        <app-controles
          *ngIf="!arvoreManager.getArvore().isCompleto"
          color="#4e73df"
          [textoFormula]="arvoreManager.getArvore().formula.texto"
          [etapasEmProgresso]="etapasEmProgresso"
          [arvoreManager]="arvoreManager"
          [passos]="passos"
          [console]="console"
          [selecao]="selecao"
          (eventAdicionar)="adicionar($event)"
          (eventDerivar)="derivar()"
          (eventFechar)="fechar()"
          (eventTicar)="ticar()"></app-controles>

        <app-pergunta-final
          *ngIf="arvoreManager.getArvore().isCompleto"
          [passos]="passos"
          [console]="console"
          (eventConfirm)="concluir($event)">
        </app-pergunta-final>
      </div>
    </div>
  </div>
</div>
