<app-modal-erro-gramatica
  [openModal]="formula.openModalErros"
  [erros]="formula.mensagemErro">
</app-modal-erro-gramatica>
<app-modal-info-gramatica [openModal]="formula.openModalInfoGramatica">
</app-modal-info-gramatica>

<app-modal-visualizador-arvore
  [impressaoNo]="arvoreAutomatica.arvore.visualizar.nos"
  [impressaoAresta]="arvoreAutomatica.arvore.visualizar.arestas"
  [impressaoLinha]="arvoreAutomatica.arvore.visualizar.linhas"
  [width]="arvoreAutomatica.arvore.visualizar.width"
  [height]="450"
  [abrirArvoreSubject]="arvoreAutomatica.openModal">
</app-modal-visualizador-arvore>

<div style="height: 100%">
  <div class="container-fluid" style="height: 100%">
    <div class="row px-0 py-3" style="height: 100%">
      <div class="col-12" style="height: 100%">
        <div class="card mb-5 d-flex" style="height: 100%">
          <div class="card-header custom-card-header py-3 d-flex">
            <h6 class="m-0 font-weight-bold mr-auto">Validação:</h6>
          </div>
          <div class="card-body imagem-back d-flex">
            <div class="row" style="width: 100%">
              <div class="col-md-8 p-0 mb-3">
                <div
                  class="grupo-controles text-center d-flex"
                  style="overflow: auto; height: 100%; flex-direction: column">
                  <!-- Str Formula -->
                  <div class="container-str-formula text-center">
                    <h6 class="formula-str mb-2">{{arvoreManager.getArvore().formula.texto || 'Crie uma fórmula'}}</h6>

                    <div class="form-group col-12 mb-2">
                      <div
                        *ngIf="
                          !etapasEmProgresso.derivacao() &&
                          !etapasEmProgresso.inicializacao()
                        "
                        class="d-flex">
                        <input
                          type="text"
                          (blur)="validarFormula()"
                          class="form-control form-control-sm"
                          id="formula"
                          name="formula"
                          [(ngModel)]="formula.texto"
                          [ngClass]="{
                            errorFormulaInput:
                              !formula.isValida && formula.mensagemErro != ''
                          }"
                          required />
                        <div class="btn-group">
                          <button
                            *ngIf="formula.isValida"
                            type="button"
                            class="btn btn-inf-formula-2 btn-sm"
                            (click)="abrirArvore()"
                            [disabled]="
                              !formula.isValida && formula.mensagemErro != ''
                            ">
                            <span
                              *ngIf="arvoreAutomatica.loading"
                              class="spinner-border spinner-border-sm mr-2"
                              role="status">
                              <span class="sr-only">Loading...</span>
                            </span>
                            <fa-icon
                              *ngIf="!arvoreAutomatica.loading"
                              class="mx-1"
                              [icon]="visual"></fa-icon>
                          </button>
                          <button
                            *ngIf="
                              !formula.isValida && formula.mensagemErro != ''
                            "
                            class="btn btn-inf-formula-2 btn-sm"
                            (click)="abrirErrosGramatica()">
                            <fa-icon class="mx-1" [icon]="erro"></fa-icon>
                          </button>
                          <button
                            class="btn btn-sm btn-inf-formula-1"
                            (click)="abrirInfoGramatica()">
                            <fa-icon class="mx-1" [icon]="duvida"></fa-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <svg width="700" height="660">
                    <g
                      *ngFor="
                        let item of arvoreManager.getArvore().visualizar
                          .arestas;
                        let i = index
                      ">
                      <line
                        [attr.x1]="item.linhaX1"
                        [attr.y1]="item.linhaY1"
                        [attr.x2]="item.linhaX2"
                        [attr.y2]="item.linhaY2"
                        stroke="rgb(175,175,175)"
                        stroke-width="1"
                        stroke-linecap="butt" />
                    </g>
                    <g
                      *ngFor="
                        let item of arvoreManager.getArvore().visualizar.linhas;
                        let i = index
                      ">
                      <text
                        font-size="20"
                        font-weight="bold"
                        fill="rgb(175,175,175)"
                        [attr.x]="item.posX"
                        [attr.y]="item.posY">
                        {{ item.texto }}
                      </text>
                    </g>
                    <g
                      *ngFor="
                        let item of arvoreManager.getArvore().visualizar.nos;
                        let i = index
                      "
                      (mouseover)="arvoreManager.eventoMouseover(i)"
                      (mouseleave)="arvoreManager.eventoMouseleave(i)"
                      (click)="eventoOnclickNo(i)">
                      <circle
                        [attr.cx]="item.posX"
                        [attr.cy]="item.posY + 27"
                        r="3"
                        fill="#AFAFA4" />
                      <circle
                        [attr.cx]="item.posX"
                        [attr.cy]="item.posY - 27"
                        r="3"
                        fill="#AFAFAF" />
                      <defs>
                        <linearGradient
                          id="grad1"
                          x1="30%"
                          y1="0%"
                          x2="90%"
                          y2="50%">
                          <stop
                            offset="0%"
                            style="stop-color: #4e73df; stop-opacity: 1" />
                          <stop
                            offset="100%"
                            style="stop-color: #3f5bad; stop-opacity: 1" />
                        </linearGradient>
                        <linearGradient
                          id="grad2"
                          x1="30%"
                          y1="0%"
                          x2="90%"
                          y2="50%">
                          <stop
                            offset="0%"
                            style="stop-color: #354c8f; stop-opacity: 1" />
                          <stop
                            offset="100%"
                            style="stop-color: #273d7e; stop-opacity: 1" />
                        </linearGradient>
                        <linearGradient
                          id="grad3"
                          x1="0%"
                          y1="0%"
                          x2="0%"
                          y2="100%">
                          <stop offset="50%" stop-color="#FFFF00" />
                          <stop offset="70%" stop-color="#b91d1d" />
                        </linearGradient>
                      </defs>
                      <a class="curso-svg">
                        <rect
                          [attr.x]="item.posXno"
                          [attr.y]="item.posY - 20"
                          rx="20"
                          ry="20"
                          [attr.width]="item.tmh"
                          height="40"
                          [attr.fill]="item.fill"
                          [attr.stroke]="item.strokeColor"
                          [attr.stroke-width]="item.strokeWidth"
                          id="no01" />
                        <text
                          text-anchor="middle"
                          font-size="15"
                          font-weight="bold"
                          fill="white"
                          font-family="Helvetica, sans-serif, Arial"
                          [attr.x]="item.posX"
                          [attr.y]="item.posY + 5">
                          {{ item.str }}
                        </text>
                        <text
                          font-size="15"
                          font-weight="bold"
                          fill="rgb(175,175,175)"
                          [attr.x]="item.posXlinhaDerivacao"
                          [attr.y]="item.posY + 25">
                          {{ item.linhaDerivacao }}
                        </text>
                      </a>
                      <g *ngIf="item.utilizado == true">
                        <svg
                          [attr.x]="item.posXlinhaDerivacao + 12"
                          [attr.y]="item.posY - 10"
                          fill="#61CE61">
                          <path
                            d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z" />
                        </svg>
                      </g>
                      <g *ngIf="item.fechado == true">
                        <line
                          [attr.x1]="item.posX - 15"
                          [attr.y1]="item.posY + 15"
                          [attr.x2]="item.posX + 15"
                          [attr.y2]="item.posY + 40"
                          stroke="#DC0F4B"
                          stroke-width="4"
                          stroke-dasharray="1" />
                        <line
                          [attr.x1]="item.posX + 15"
                          [attr.y1]="item.posY + 15"
                          [attr.x2]="item.posX - 15"
                          [attr.y2]="item.posY + 40"
                          stroke="#DC0F4B"
                          stroke-width="4"
                          stroke-dasharray="1" />
                        <text
                          font-size="17"
                          fill="#DC0F4B"
                          [attr.x]="item.posX - 5"
                          [attr.y]="item.posY + 70">
                          {{ item.linhaContradicao }}
                        </text>
                      </g>
                    </g>
                  </svg>
                </div>
              </div>

              <div class="col-md-4 p-0">
                <div
                  *ngIf="
                    !etapasEmProgresso.derivacao() &&
                    !etapasEmProgresso.inicializacao()
                  "
                  class="container-controles justify-content-center align-items-center mx-4">
                  <div class="grupo-emoji">
                    <div
                      *ngIf="formula.xml == '' && formula.mensagemErro == ''"
                      class="text-center">
                      <img
                        class="img-fluid"
                        src="assets/img/emoji-simpatico.png"
                        alt="condicional"
                        style="max-width: 124px; max-height: 130px" />
                      <h6 class="formula-str mb-3">
                        Muito bom ver você aqui colocando em prática seu
                        conchecimento. Mas primeiro você pricisa criar uma
                        fórmula.
                      </h6>
                    </div>
                    <div
                      *ngIf="
                        formula.isValida &&
                        formula.mensagemErro == '' &&
                        !arvoreManager.getArvore().isCompleto
                      "
                      class="text-center"
                      class="text-center">
                      <img
                        class="img-fluid"
                        src="assets/img/emoji-feliz.png"
                        alt="condicional"
                        style="max-width: 124px; max-height: 130px" />
                      <h6 class="formula-str">
                        Parabéns! Você criou uma fórmula, agora já pode começar
                        deriva-la.
                      </h6>
                      <div class="grupo-btn-iniciar">
                        <button
                          type="button"
                          class="btn btn-sm btn-func btn-block mt-3"
                          (click)="iniciarEstudo()"
                          [disabled]="!formula.isValida">
                          <span
                            *ngIf="iniciandoEstudo"
                            class="spinner-border spinner-border-sm mr-2"
                            role="status">
                            <span class="sr-only">Loading...</span>
                          </span>
                          <span *ngIf="!iniciandoEstudo">
                            Começar</span
                          >
                        </button>
                      </div>
                    </div>
                    <div
                      *ngIf="!formula.isValida && formula.mensagemErro != ''"
                      class="text-center">
                      <img
                        class="img-fluid"
                        src="assets/img/emoji-triste.png"
                        alt="condicional"
                        style="max-width: 124px; max-height: 130px" />
                      <h6 class="formula-str">
                        Ops, algo de errado na fórmula
                      </h6>
                    </div>
                    <div
                      *ngIf="arvoreManager.getArvore().isCompleto"
                      class="text-center"
                      class="text-center">
                      <img
                        class="img-fluid"
                        src="assets/img/emoji-feliz.png"
                        alt="condicional"
                        style="max-width: 124px; max-height: 130px" />
                      <h6 class="formula-str">Parabéns, fórmula derivada!</h6>
                      <div class="grupo-btn-iniciar">
                        
                        <button
                          type="button"
                          class="btn btn-sm btn-func btn-block mt-3"
                          (click)="concluir()">
                          <span
                            *ngIf="concluindoEstudo"
                            class="spinner-border spinner-border-sm mr-2"
                            role="status">
                            <span class="sr-only">Loading...</span>
                          </span>
                            <span *ngIf="!concluindoEstudo">
                              Finalizar</span
                            >
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  *ngIf="
                    (etapasEmProgresso.derivacao() ||
                      etapasEmProgresso.inicializacao()) &&
                    formula.isValida
                  "
                  class="container-controles pl-md-4 pl-0">
                  <!-- Console de mensagens -->
                  <div class="grupo-controles mb-3">
                    <div class="d-flex">
                      <div class="icon-loading">
                        <span
                          *ngIf="console.isLoading()"
                          class="spinner-border spinner-border-sm"
                          role="status">
                          <span class="sr-only">Loading...</span>
                        </span>
                      </div>
                      <div
                        class="mensaggem-console d-flex justify-content-center align-items-center">
                         <code>
                          <span
                            *ngIf="console.lastLog().tipo == 'info'"
                            class="info-msg"
                            >{{ console.lastLog().msg }}</span
                          >
                          <span
                            *ngIf="console.lastLog().tipo == 'erro'"
                            class="error-msg"
                            >{{ console.lastLog().msg }}</span
                          >
                          <span
                            *ngIf="console.lastLog().tipo == 'sucesso'"
                            class="sucesso-msg"
                            >{{ console.lastLog().msg }}</span
                          >
                        </code> 
                      </div>
                    </div>
                  </div>

                  <!-- Posicionamento dos Primeiros nós na arvore -->
                  <div
                    *ngIf="etapasEmProgresso.inicializacao()"
                    class="grupo-controles p-3 flex-item">
                    <div class="grupo-check flex-um">
                      <div
                        class="form-check mb-2"
                        *ngFor="
                          let arg of arvoreManager.getArvore().iniciar
                            .opcoesDisponiveis;
                          let i = index
                        ">
                        <input
                          class="form-check-input form-control-sm"
                          type="radio"
                          name="radioArgumentos"
                          id="{{ arg.id }}"
                          value="{{ arg.id }}"
                          (click)="passos.setArgumentoInsercao(arg)" />
                        <label
                          class="form-check-label col-form-label-sm"
                          for="{{ arg.id }}"
                          (click)="passos.setArgumentoInsercao(arg)">
                          {{ arg.texto }}
                        </label>
                      </div>
                    </div>
                    <div>
                      <button
                        type="button"
                        class="btn btn-sm btn-inserir btn-block mt-3"
                        (click)="adicionar(false)"
                        [disabled]="
                          passos.getInicializacao().no == null ||
                          console.isLoading() == true
                        ">
                        Inserir
                      </button>
                      <button
                        type="button"
                        class="btn btn-sm btn-fechar-ramo btn-block"
                        (click)="adicionar(true)"
                        [disabled]="
                          passos.getInicializacao().no == null ||
                          console.isLoading() == true
                        ">
                        Negar e Inserir
                      </button>
                    </div>
                  </div>

                  <!-- Derivação dos elementos da árvore -->
                  <div
                    *ngIf="etapasEmProgresso.derivacao()"
                    class="grupo-controles p-3 mb-3">
                    <div
                      class="form-check"
                      *ngFor="
                        let item of arvoreManager.getArvore().derivar.regras;
                        let i = index
                      ">
                      <input
                        class="form-check-input form-control-sm"
                        type="radio"
                        name="regrasDerivacao"
                        (click)="passos.setRegraDerivacao(item)"
                        id="{{ item.codigo }}"
                        value="{{ item.codigo }}"
                        [disabled]="!selecao.getBotoesEnable().derivacao" />
                      <label
                        class="form-check-label col-form-label-sm"
                        for="{{ item.codigo }}"
                        (click)="passos.setRegraDerivacao(item)">
                        {{ item.nome }}
                      </label>
                    </div>
                    <div class="btn-acoes">
                      <button
                        type="button"
                        class="btn btn-sm btn-inserir btn-block mt-3"
                        (click)="derivar()"
                        [disabled]="
                          passos.getDerivacao().regra == null ||
                          console.isLoading() == true ||
                          !selecao.getBotoesEnable().derivacao
                        ">
                        Derivar
                      </button>
                    </div>
                  </div>

                  <!-- botões para fechar e ticar um nó -->
                  <div *ngIf="etapasEmProgresso.derivacao()">
                    <div class="grupo-controles p-3">
                      <button
                        type="button"
                        class="btn btn-sm btn-fechar-ramo btn-block"
                        [disabled]="
                          selecao.getBotoesEnable().fecharRamo == false ||
                          console.isLoading() == true
                        "
                        (click)="fechar()">
                        Fechar Ramo
                      </button>
                      <button
                        type="button"
                        class="btn btn-sm btn-ticar btn-block"
                        [disabled]="
                          selecao.getBotoesEnable().ticarNo == false ||
                          console.isLoading() == true
                        "
                        (click)="ticar()">
                        Ticar Nó
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div  
    *ngIf="globalErro.isAberto" 
    style="position:absolute;bottom:0;width:100%;justify-content:center;display:flex;">
    <div
      class="alert alert-danger "
      role="alert" 
      style="z-index:100;" >
      <span>{{ globalErro.msg }}
        <button
        type="button"
        class="btn btn-sm btn-fecharAviso"
        (click)="fecharAvisoError()">
        <fa-icon [icon]="iconFechar"></fa-icon>
      </button> 
      </span>
    </div>
  </div>
</div>
