<app-modal-delecao
  [deletarSubject]="deletarSubject"
  (eventConfirm)="confirmarDelete($event)"
  titulo="Deletar Usuário">
</app-modal-delecao>
<div class="container conteudo-pagina">
  <app-header-listagem
    titulo="Gerenciamento Usuário"
    linkCadastro="/painel/usuarios/cadastrar">
  </app-header-listagem>
  <div class="row">
    <div class="col-md-12 m-auto pt-2 px-0">
      <div class="tabela-listagem">
        <table class="table table-sm table-responsive-sm" *ngIf="exibirTabela">
          <thead>
            <tr>
              <th scope="col" class="header-tabela-primeiro">Nome</th>
              <th scope="col" class="header-tabela text-center">Email</th>
              <th scope="col" class="header-tabela text-center">Status</th>
              <th scope="col" class="header-tabela-ultimo text-center">
                Ações
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of listaUsuarios">
              <td style="vertical-align: inherit">{{ usuario.nome }}</td>
              <td class="text-center" style="vertical-align: inherit">
                {{ usuario.email }}
              </td>
              <td
                [ngClass]="
                  usuario.ativo == 1 ? 'status-ativo' : 'status-inativo'
                "
                class="text-center"
                style="vertical-align: inherit">
                {{ usuario.ativo ? 'Ativo' : 'Inativo' }}
              </td>
              <td class="text-center">
                <div class="btn-group my-1">
                  <button
                    class="btn btn-sm btn-tabela"
                    [routerLink]="['/painel/usuarios/editar', usuario.id]">
                    <fa-icon class="mx-1" [icon]="iconEditar"></fa-icon>
                  </button>
                  <button
                    type="button"
                    class="btn btn-tabela-delete btn-sm"
                    (click)="deletar(usuario.id)">
                    <fa-icon class="mx-1" [icon]="iconDeletar"></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <app-spinner *ngIf="!exibirTabela"></app-spinner>
      </div>
    </div>
  </div>
  <app-paginacao
    [paginacao]="paginacao"
    (eventPaginate)="carregarLista($event)"
    style="flex: 1; display: flex">
  </app-paginacao>
</div>
