<div class="conteudo-cadastro">

    <div class="header-cadastro">
        <div class="col-md-10 pt-3">
            <div class="row">
                <div class="col d-flex align-items-center">
                    <h6 class="text-roxo">Cadastrar Nível</h6>
                </div>
                <div class="col-auto">
                    
                    <button type="button" class="btn btn-voltar font-18" [routerLink]="['/painel/modulo1/niveis']">
                        <fa-icon class="mx-1 " [icon]="iconVoltar"></fa-icon> 
                        voltar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="form-cadastro">
        <div class="col-md-8">
            <form #formNivel="ngForm" *ngIf ="!requisitando">
                <div class="form-row">
                  <div class="form-group col-12 mb-2">
                    <label class="col-form-label-sm mb-0" for="inputEmail4">Nome do nível</label>
                    <input type="text" class="form-control form-control-sm"  id="nome" name="nome" [(ngModel)]="nivel.nome" required>
                  </div>
        
                  <div class="form-group col-12  mb-2">
                    <label class="col-form-label-sm mb-0" for="inputPassword4">Descrção</label>
                    <input type="text" class="form-control form-control-sm"  id="descricao" name="descricao" [(ngModel)]="nivel.descricao" required>
                  </div>
        
                  <div class="form-group col-12  mb-2">
                    <div class="form-check" (click)="recompensaDesbilita()">
                      <input class="form-check-input form-control-sm" type="checkbox"  id="semRecompensa" name="!semRecompensa" [(ngModel)]="semRecompensa">
                      <label class="form-check-label col-form-label-sm " for="semRecompensa">
                        Sem recompensa
                      </label>
                    </div>
                  </div>
                  <div class="form-group col-12  mb-2">
                        <div>
                            <label class="col-form-label-sm mb-0" for="id_recompensa">Recompensa</label>
                            <select id="id_recompensa" name="id_recompensa" [(ngModel)]="nivel.id_recompensa"class="form-control form-control-sm"  [disabled]="semRecompensa" required>
                                <option *ngFor="let recompensa of listaRecompensas" value="{{recompensa.id}}">{{recompensa.nome}}</option>
                            </select>
                        </div>
                        <div  *ngIf="loadingRecompensa" class="spinner-border spinner-border-sm text-roxo ml-2" role="status">
                            <span class="sr-only">Carregando...</span>
                        </div>
                    </div>
 
        
                  <div class="form-group col-12  mb-2">
                    <div class="form-check">
                      <input class="form-check-input form-control-sm" type="checkbox"id="ativo" name="ativo" [(ngModel)]="nivel.ativo">
                      <label class="form-check-label col-form-label-sm" for="ativo">
                        Ativo
                      </label>
                    </div>
                  </div>
        
                  <div class="form-group col-12 text-right">
                    <button (click)="cadastrarNivel()" class="btn btn-padrao" [disabled]=" !formNivel.form.valid?true:false">Salvar</button>
                  </div>
                </div>
            </form>
            <div class="d-flex justify-content-center" *ngIf ="spineer">
                <div class="spinner-border text-roxo" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="d-flex justify-content-center" *ngIf ="erroSalvar!=null">
                
                <div class="alert alert-danger pt-1" role="alert">
                    <div class="row d-flex justify-content-end">
                        <button type="button" class="btn btn-sm btn-fecharAviso" (click)=fecharAvisoError()><fa-icon [icon]="iconFechar"></fa-icon></button>
                    </div>
                    
                    <h5 class="alert-heading text-center">Error!</h5>
                    <p class=" text-center">{{erroSalvar}}</p>
                    <hr class="m-2">
                    <p class="mb-0 text-center">Feche o aviso para tentar novamente!.</p>
                  </div>
            </div>
        </div>
    </div>
</div>
