<div
  *ngIf="show"
  [config]="{ show: true }"
  (onHide)="onHide()"
  bsModal
  #autoShownModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-auto-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-body text-center p-0">
            <div class="text-center titulo-modal p-2">
              <span>Informações Gramatica</span>
            </div>
            <div class="text-center d-flex justify-content-center w-100">
              <div class="barra-modal"></div>
            </div>
            <div class="p-3 w-100 text-center">
              <app-tabela-gramatica 
              colorBase="#6a70d2"
              colorSecundary="#55d9ca"
              ></app-tabela-gramatica>
            </div>
            <div class="pb-3 w-100 text-center">
              <button type="button" class="btn btn-padrao mx-2" (click)="hideModal()">
                Fechar
              </button>
            </div>
          </div>
    </div>
  </div>
</div>
