<div class="conteudo-inicio">

    <div class="row text-center">
        <div class="col-md-10 mx-auto d-flex">

            <div class="col-auto">
                <app-visualizador-arvore [impressaoNo]="listaImpressaoNo" [impressaoAresta]="listaImpressaoAresta" [exibirLinha]="false" [width]="200" [height]="350"></app-visualizador-arvore>
            </div>
            <div class="col-8 text-left conteudo-texto">
                <h4 class="titulo-inicio">Módulo de Validação de Fórmulas da Lógica Proposicional</h4>
                    <div class="barra-titulo"></div>
                <div class="shadow-sm cartao-inicio mt-3">
    
                    <p class="texto-inicio">
                        Neste módulo é possível criar exercícios personalizados das mais diversas formulas da lógica proposicional 
                        e ainda visualizar e invalidar as respostas dos jogadores. Todos os exercícios aqui cadastrados ficarão 
                        disponíveis na plataforma <a href="https://thelogiclive.com/">Logic Live</a>.
                    </p>
                </div>
            </div>
        </div>

    </div>

</div>
