.conteudo-inicio {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartao-inicio {
  background: white;
  padding: 1rem;
}

.titulo-inicio {
  color: #57d0ca;
}

.barra-titulo {
  height: 5px;
  width: 50px;
  background: #57d0ca;
}

.texto-inicio {
  color: #707070;
}

.conteudo-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
