<ng-template #modalInfoGramatica>
  <div class="modal-body text-center p-0">
      <div class=" text-center titulo-modal p-2">
          <span>Informações Gramatica</span>
      </div>
      <div class="text-center d-flex justify-content-center w-100" >
          <div class="barra-modal"></div>
      </div>
      <div class="p-3 w-100 text-center ">
          <app-tabela-gramatica></app-tabela-gramatica>
      </div>
      <div class="pb-3 w-100 text-center">
          <button type="button" class="btn btn-padrao mx-2" (click)="fechar()" >Fechar</button>
      </div>
  </div>
</ng-template>


<ng-template #modalErroGramatica>
  <div class="modal-body text-center p-0">
      <div class=" text-center titulo-modal p-2">
          <span>Erros da Fórmula</span>
      </div>
      <div class="text-center d-flex justify-content-center w-100" >
          <div class="barra-modal"></div>
      </div>
      <div class="p-3 w-100 conteudo-modal-error">
        <div *ngFor="let item of mensagemError  text-center mt-2">
          <div class="card mt-3">
            <div class="card-header">
              <h6>Erro na posição: {{item.coluna}}</h6>
            </div>
            <div class="card-body">
              <table class="table table-sm table-responsive">
                <tbody>
                  <tr *ngFor="let info of item.info ">
                    <td class="cor-tabela-error dor">{{info}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <div class="pb-3 w-100 text-center">
          <button type="button" class="btn btn-padrao mx-2" (click)="fechar()" >Fechar</button>
      </div>
  </div>
</ng-template>


<ng-template #modalVizualizarArvore>
  <div class="modal-body text-center p-0">
      <div class=" text-center titulo-modal p-2">
          <span>Árvore Otimizada</span>
      </div>
      <div class="text-center d-flex justify-content-center w-100" >
          <div class="barra-modal"></div>
      </div>
      <div class="p-3 w-100">
        <app-visualizador-arvore [impressaoNo]="listaImpressaoNo" [impressaoAresta]="listaImpressaoAresta" [exibirLinha]="true" [width]="700" [height]="660"></app-visualizador-arvore>
      </div>
      <div class="pb-3 w-100 text-center">
          <button type="button" class="btn btn-padrao mx-2" (click)="fechar()" >Fechar</button>
      </div>
  </div>
</ng-template>


<ng-template #modalPersonalizarArvore>
      <div class="p-3 w-100">
          <app-personalizar-arvore [xmlFormula]="exercicio.id_formula.xml" [refModal]="modalRef"></app-personalizar-arvore>
      </div>
</ng-template>

<ng-template #Ngrecompensa>
  <app-recompensa [referenciaModal]="modalRef"></app-recompensa>
</ng-template>


<div class="conteudo-cadastro">

    <div class="header-cadastro">
        <div class="col-md-10 pt-3">
            <div class="row">
                <div class="col d-flex align-items-center">
                    <h6 class="text-roxo">Cadastrar Exercício</h6>
                </div>
                <div class="col-auto">
                    
                    <button type="button" class="btn btn-voltar font-18" (click)=voltar()>
                        <fa-icon class="mx-1 " [icon]="iconVoltar"></fa-icon> 
                        voltar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="form-cadastro">
        <div class="col-md-8">
            <form #formNivel="ngForm" *ngIf ="!requisitando">
                <div class="form-row">
                  <div class="form-group col-12 mb-2">
                    <label class="col-form-label-sm mb-0" for="inputEmail4">Nome do exercício</label>
                    <input type="text" class="form-control form-control-sm"  id="nome" name="nome" [(ngModel)]="exercicio.nome" required>
                  </div>
        
                  <div class="form-group col-12  mb-2">
                    <label class="col-form-label-sm mb-0" for="inputPassword4">Descrição</label>
                    <input type="text" class="form-control form-control-sm"  id="descricao" name="descricao" [(ngModel)]="exercicio.descricao" required>
                  </div>

                  <div class="form-group col-12  mb-2">
                    <label class="col-form-label-sm mb-0"  for="exampleFormControlTextarea1">Enunciado</label>
                    <textarea class="form-control  form-control-sm" id="enunciado" name="enunciado" [(ngModel)]="exercicio.enunciado" required rows="2"></textarea>
                  </div>

                  
                  <div class="form-group col-12  mb-2">
                    <label class="col-form-label-sm mb-0" for="inputPassword4">Fórmula</label>
                    <div class="d-flex">
                      <input type="text" (blur)="validarFormula()" class="form-control form-control-sm"  id="formula" name="formula" [(ngModel)]="exercicio.id_formula.formula" [ngClass]="{'errorFormulaInput': formulaInvalida==true}" required>
                      <div class="btn-group">
                        <button *ngIf="!formulaInvalida" type="button" class="btn btn-inf-formula-2 btn-sm" (click)="abrirArvore(modalVizualizarArvore)" [disabled]="!visualizararvore" >
                          <fa-icon class="mx-1" [icon]="visual" ></fa-icon>
                        </button>
                        <button *ngIf="formulaInvalida" class="btn btn-inf-formula-2 btn-sm" (click)="errorGramatica(modalErroGramatica)">
                          <fa-icon class="mx-1" [icon]="error"></fa-icon>
                        </button>
                        <button class="btn btn-sm btn-inf-formula-1"  (click)="infoGramatica(modalInfoGramatica)" [ngClass]="{'errorFormulaBtn': formulaInvalida==true}">
                          <fa-icon class="mx-1" [icon]="duvida" ></fa-icon>
                        </button>
                    </div>
                    </div>
                    
                  </div>

                  <div class="form-group col-6  mb-2">
                    <div class="form-check">
                      <input class="form-check-input form-control-sm" type="checkbox"id="iniciar_zerada" name="iniciar_zerada" [(ngModel)]="exercicio.id_formula.iniciar_zerada" [disabled]="!visualizararvore" (click)="iniciarZerada()">
                      <label class="form-check-label col-form-label-sm" for="iniciar_zerada">
                        Iniciar Zerada
                      </label>
                    </div>
                  </div>

                  <div class="form-group col-6  mb-2">
                    <div class="form-check">
                      <input class="form-check-input form-control-sm" type="checkbox"id="inicio_personalizado" name="inicio_personalizado"  [(ngModel)]="exercicio.id_formula.inicio_personalizado" [disabled]="!visualizararvore" (click)="modalPersonalizarInicio(modalPersonalizarArvore)">
                      <label class="form-check-label col-form-label-sm" for="inicio_personalizado">
                        Personalizar Inicio
                      </label>
                    </div>
                  </div>

                  <div class="form-group col-12  mb-2">
                    <label for="quantidade_regras">Quantidade de Regras</label>
                    <div class="d-flex">
                      <input type="range" class="form-control-range" id="quantidade_regras" name="quantidade_regras"  [(ngModel)]="exercicio.id_formula.quantidade_regras" min="1" max="9" [disabled]="!visualizararvore">
                      <span *ngIf="exercicio.id_formula.quantidade_regras==null" class="ml-1 qntd-regras"> 0 </span>
                      <span *ngIf="exercicio.id_formula.quantidade_regras!=null" class="ml-1 qntd-regras">{{exercicio.id_formula.quantidade_regras}}</span>
                    </div>
                   
                  </div>


                  <div class="form-group col-6  mb-2">
                    <div class="form-check">
                      <input class="form-check-input form-control-sm" type="checkbox"id="fechar_automaticamente" name="fechar_automaticamente" [(ngModel)]="exercicio.id_formula.fechar_automaticamente" [disabled]="!visualizararvore">
                      <label class="form-check-label col-form-label-sm" for="fechar_automaticamente">
                        Fechamento Automático 
                      </label>
                    </div>
                  </div>

                  <div class="form-group col-6  mb-2">
                    <div class="form-check">
                      <input class="form-check-input form-control-sm" type="checkbox"id="ticar_automaticamente" name="ticar_automaticamente" [(ngModel)]="exercicio.id_formula.ticar_automaticamente" [disabled]="!visualizararvore">
                      <label class="form-check-label col-form-label-sm" for="ticar_automaticamente">
                        Ticagem Automática
                      </label>
                    </div>
                  </div>


        
                  <div class="form-group col-3  mb-2">
                    <div class="form-check" (click)="tempoDesbilitar()">
                      <input class="form-check-input form-control-sm" type="checkbox"  id="tempoDesbilita" name="!tempoDesbilita" [(ngModel)]="tempoDesbilita" [disabled]="!visualizararvore">
                      <label class="form-check-label col-form-label-sm " for="tempoDesbilita">
                        Definir tempo
                      </label>
                    </div>
                    <div>
                        <input type="number" class="form-control form-control-sm"  id="tempo" name="tempo" [(ngModel)]="exercicio.tempo" [disabled]="!tempoDesbilita" required>
                    </div>
                  </div>
                  <div class="form-group col-3  mb-2">
                    <div class="form-check" (click)="limitarerrosDesbilitar()">
                      <input class="form-check-input form-control-sm" type="checkbox"  id="limitarerros" name="!limitarerros" [(ngModel)]="limitarerros" [disabled]="!visualizararvore">
                      <label class="form-check-label col-form-label-sm " for="limitarerros">
                        Limitar Erros
                      </label>
                    </div>
                    <div>
                        <input type="number" class="form-control form-control-sm"  id="qndt_erros" name="qndt_erros" [(ngModel)]="exercicio.qndt_erros" [disabled]="!limitarerros" required>
                    </div>
                  </div>
                  <div class="form-group col-6  mb-2">
                        <label class="col-form-label-sm mb-0" for="id_recompensa">Recompensa</label>
                        <div class="d-flex">
                            <select id="id_recompensa" name="id_recompensa" [(ngModel)]="exercicio.id_recompensa.id"class="form-control form-control-sm" required>
                                <option *ngFor="let recompensa of listaRecompensas" value="{{recompensa.id}}">{{recompensa.nome}}</option>
                            </select>
                          <button class="btn btn-sm btn-add-recompensa"  (click)="criarRecompensa(Ngrecompensa)">
                            <fa-icon class="mx-1" [icon]="add" ></fa-icon>
                          </button>



                        </div>
                        <div  *ngIf="loadingRecompensa" class="spinner-border spinner-border-sm text-roxo ml-2" role="status">
                            <span class="sr-only">Carregando...</span>
                        </div>
                  </div>
 
        
                  <div class="form-group col-12  mb-2">
                    <div class="form-check">
                      <input class="form-check-input form-control-sm" type="checkbox"id="ativo" name="ativo" [(ngModel)]="exercicio.ativo">
                      <label class="form-check-label col-form-label-sm" for="ativo">
                        Ativo
                      </label>
                    </div>
                  </div>
        
                  <div class="form-group col-12 text-right">
                    <button (click)="cadastrarExercicio()" class="btn btn-padrao" [disabled]=" !formNivel.form.valid?true:false">Salvar</button>
                  </div>
                </div>
            </form>
            <div class="d-flex justify-content-center" *ngIf ="requisitando">
                <div class="spinner-border text-roxo" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>

