.info-btn{
    font-weight: bold;
    color: white;
    cursor: pointer;
}


.info-btn:hover{
    text-decoration: none;
    transform: scale(1.02);
}
.conteudo-personalizar{
    background:white
}

.mensaggem-console{
    height: 150px;
    overflow: auto;
}

.coluna-controles{
    display: flex;
    flex-direction: column;
}
.controles-flex{
    display: flex;
    flex-direction: column;
    flex:1
}

.flex-item{
    display: flex;
    flex-direction: column;
    flex:1
}

.flex-um{
    flex:1
}

.grupo-controles{
    border: 1px solid #88888836;
    border-radius: .25rem;
}

.console-ul{
    padding: 0!important;
}
.console-li{
    list-style-type: none;
    
}

.error-msg{
    color: #aa3434;
}
.sucesso-msg{
    color: #48aa34; 
}
.info-msg{
    color: #888888;
}

.barrar-console{
    display: flex;
}

.btn-limpar{
    color: rgb(160 160 160);
    background-color: transparent;
    
}

.area-svg{
    height: 100%;
    display: flex;
    flex-direction: column;
}


.tamanho-maximo{
    max-width: 1200px;
}

.minimizar{
    cursor: pointer;
}


.btn-acoes{
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn-modal{
    display: flex;
    justify-content: center;
    width: 100%;   
}

.formula{
    background: rgb(255, 0, 230,0.1) !important;
    padding: 0.6rem;
    border-radius: .25rem;
    color: #959595;
    font-weight: bold;
    /* border:1px solid #959595; */
}

.conteudo-direita{
    display:flex;
    flex-direction: column;
    width: 100%;
}

.card-checkbox{
    flex:1
}

.titulo-card{
    color:#6E52D2;
    font-weight: bolder;
}


.card-header {
    padding: .5rem 1.0rem!important;
}

.conteudo-card{
    display:flex;
    flex-direction: column;
    height: 100%;
}

.grupo-check{
    flex:1
}

.aviso-inicio{
    background: rgb(247 247 247) !important;
    padding: 0.6rem;
    border-radius: .25rem;
    color:#888888;
}

.btn-inserir{
   background: rgba(95,165,206,1);
   color: #ffffff;
}

.btn-inserir:hover{
    background: rgb(141, 194, 224);
 }


 .btn-negar{
    background: rgba(106,112,210,1);
    color: #ffffff;
 }
 
 .btn-negar:hover{
     background: rgb(150, 155, 243);
  }

  .curso-svg{
    cursor: pointer;
}

.curso-svg:hover{
    text-decoration:none!important;
}

.card-nos{
    display: contents;
}

.titulo-card-no{
    background: #A392E0;
    color: #ffffff;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.cor-card-no{
    background:#F6F6F6
}

.bloco-vermelho{
    width: 20px;
    height: 20px;
    background:#b91d1d;
}


.bloco-amarelo{
    width: 20px;
    height: 20px;
    background:#FFFF00;
}
.bloco-vermelho-amarelo{
    width: 20px;
    height: 20px;
    background:linear-gradient(180deg, rgba(255,255,0,1) 47%, rgba(185,29,29,1) 57%);;
}