
<div class="tamanho-maximo mx-auto">
    <div *ngIf="errorMensagen==null">
        <div class="row mb-3">
            <a class="info-btn"><fa-icon [icon]="info"></fa-icon> Informações</a>

        </div>
        <div class="row">
            <div class="col-8  px-0">
                <div class="conteudo-personalizar shadow-sm area-svg">
                    <div class="text-center titulo-modal p-2">
                        <span>Árvore de Refutação</span>
                    </div>
                    <div class="text-center d-flex justify-content-center w-100" >
                        <div class="barra-modal"></div>
                    </div>
                    <div class="svg text-center">
                        <svg width="700" height="660" >
                            <g *ngFor="let item of request.arestas; let i= index;">
                                <line [attr.x1]=item.linhaX1 [attr.y1]=item.linhaY1 [attr.x2]=item.linhaX2 [attr.y2]=item.linhaY2 stroke="rgb(175,175,175)" stroke-width=1 stroke-linecap="butt"/>
                            </g>
                    
                            
                            <g *ngFor="let item of request.nos; let i= index;" (mouseover)="alterarcor(i)" (mouseleave)="voltarcor(i)" (click)="selecionarNo(i)">
                                <circle [attr.cx]=item.posX [attr.cy]=item.posY+27 r="3" fill="#AFAFA4"/>
                                <circle [attr.cx]=item.posX [attr.cy]=item.posY-27 r="3" fill="#AFAFAF"/>
                                <text font-size="20" font-weight="bold" fill="rgb(175,175,175)" [attr.x]=30 [attr.y]=item.posY+5>Linha {{item.linha}}</text>
                                <defs>
                                    <linearGradient id="grad1" x1="30%" y1="0%" x2="90%" y2="50%">
                                        <stop offset="0%" style="stop-color:rgb(32,178,170);stop-opacity:1" />
                                        <stop offset="100%" style="stop-color:rgb(0,128,128);stop-opacity:1" />
                                    </linearGradient>
                                    <linearGradient id="grad2" x1="30%" y1="0%" x2="90%" y2="50%">
                                        <stop offset="0%" style="stop-color:#7c81eb;stop-opacity:1" />
                                        <stop offset="100%" style="stop-color:#5b60b3;stop-opacity:1" />
                                    </linearGradient>
                                    <linearGradient id="grad3" x1="0%" y1="0%" x2="0%" y2="100%">
                                        <stop offset="50%" stop-color="#FFFF00" />
                                        <stop offset="70%" stop-color="#b91d1d" />
                                    </linearGradient>
                
                                </defs>
                                <a class="curso-svg">
                                    <rect [attr.x]=item.posXno [attr.y]=item.posY-20 rx=20 ry=20 [attr.width]=item.tmh height="40" [attr.fill]="item.fill"  [attr.stroke]=item.strokeColor [attr.stroke-width]=item.strokeWidth id="no01"  />
                                    <text text-anchor="middle" font-size="15" font-weight="bold" fill="white"  font-family="Helvetica, sans-serif, Arial" [attr.x]=item.posX [attr.y]=item.posY+5>{{item.str}}</text>
                                    <text font-size="15" font-weight="bold" fill="rgb(175,175,175)" [attr.x]=item.posXlinhaDerivacao [attr.y]=item.posY+25>{{item.linhaDerivacao}}</text>
                                </a>
                                <g *ngIf="item.utilizado==true;">
                                    <svg [attr.x]=item.posXlinhaDerivacao+12 [attr.y]=item.posY-10 fill=#61CE61>
                                        <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                                    </svg>
                                </g>
                                <g *ngIf="item.fechado==true;">
                                    <line [attr.x1]=item.posX-15 [attr.y1]=item.posY+15 [attr.x2]=item.posX+15 [attr.y2]=item.posY+40 stroke="#DC0F4B" stroke-width=4 stroke-dasharray="1"/>
                                    <line [attr.x1]=item.posX+15 [attr.y1]=item.posY+15 [attr.x2]=item.posX-15 [attr.y2]=item.posY+40 stroke="#DC0F4B" stroke-width=4 stroke-dasharray="1"/>
                                    <text font-size="17" fill="#DC0F4B"  [attr.x]=item.posX-5  [attr.y]=item.posY+70>{{item.linhaContradicao}}</text>        
                                </g>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-4 coluna-controles pr-0">
                <div class="conteudo-personalizar mb-3 controles-flex shadow-sm">
                    <div class="text-center titulo-modal p-2">
                        <span>Controles</span>
                    </div>
                    <div class="text-center d-flex justify-content-center w-100" >
                        <div class="barra-modal"></div>
                    </div>
                    <div class="m-3 flex-item">
                        <div class="formula mb-2 text-center">
                            <span>{{strFormula}}</span>
                        </div>
                        
                        <!-- Posicionamento dos Primeiros nós na arvore -->
                        <div *ngIf="!request.inicio.completa" class="grupo-controles p-3 flex-item">
                            <div class="grupo-check flex-um">
                                <div class="form-check mb-2" *ngFor="let arg of request.inicio.opcoes ; let i = index">
                                    <input class=" form-check-input form-control-sm" type="radio" name="radioArgumentos" id={{arg.id}} value={{arg.id}} (click)="selecionado(i)">
                                    <label class="form-check-label col-form-label-sm" for={{arg.id}} (click)="selecionado(i)">
                                        {{arg.str}}
                                    </label>
                                </div>
                          
                            </div>
                            <div>
                                <button type="button" class="btn btn-sm btn-inserir btn-block " (click)="adicionaNo(0)" [disabled]="request.inicio.no==null"> Inserir</button>
                                <button type="button" class="btn btn-sm btn-negar btn-block" (click)="adicionaNo(1)"  [disabled]="request.inicio.no==null"> Negar e Inserir</button>
                            </div>
                        </div>

                        <!-- Derivação dos elementos da árvore -->
                        <div *ngIf="request.inicio.completa" class="grupo-controles p-3 mb-3">
                            <div class="form-check">
                                <input class=" form-check-input form-control-sm" type="radio" name="exampleRadios" (click)="regra(1)"  id="regra1" value="opcao1"[disabled]=" !ativosCheckDerivacao">
                                <label class="form-check-label col-form-label-sm" for="regra1" (click)="regra(1)">
                                    Dupla Negação
                                </label>
                            </div>
                            <div class="form-check">
                                <input class=" form-check-input  form-control-sm" type="radio" name="exampleRadios" (click)="regra(2)" id="regra2" value="opcao2" [disabled]=" !ativosCheckDerivacao">
                                <label class="form-check-label col-form-label-sm" for="regra2" (click)="regra(2)">
                                    Conjunção 
                                </label>
                            </div>
                            <div class="form-check">
                                <input class=" form-check-input  form-control-sm" type="radio" name="exampleRadios" (click)="regra(5)" id="regra5" value="option3" [disabled]=" !ativosCheckDerivacao">
                                <label class="form-check-label col-form-label-sm" for="regra5" (click)="regra(5)">
                                    Disjunção
                                </label>
                            </div>
                            <div class="form-check">
                                <input class=" form-check-input  form-control-sm" type="radio" name="exampleRadios" (click)="regra(6)" id="regra6" value="option4" [disabled]=" !ativosCheckDerivacao">
                                <label class="form-check-label col-form-label-sm" for="regra6" (click)="regra(6)">
                                    Condicional
            
                                </label>
                            </div>
                            <div class="form-check">
                                <input class=" form-check-input  form-control-sm" type="radio" name="exampleRadios" (click)="regra(7)" id="regra7" value="option5" [disabled]=" !ativosCheckDerivacao">
                                <label class="form-check-label col-form-label-sm" for="regra7" (click)="regra(7)">
                                    Bicondicional
                                </label>
                            </div>
                            <div class="form-check">
                                <input class=" form-check-input  form-control-sm" type="radio" name="exampleRadios" (click)="regra(8)" id="regra8" value="option6" [disabled]=" !ativosCheckDerivacao">
                                <label class="form-check-label col-form-label-sm" for="regra8" (click)="regra(8)">
                                    Negação da Conjunção
                                </label>
                            </div>
                            <div class="form-check">
                                <input class=" form-check-input  form-control-sm" type="radio" name="exampleRadios" (click)="regra(3)" id="regra3" value="option7" [disabled]=" !ativosCheckDerivacao">
                                <label class="form-check-label col-form-label-sm" for="regra3" (click)="regra(3)">
                                    Negação da Disjunção
                                </label>
                            </div>
                            <div class="form-check">
                                <input class=" form-check-input  form-control-sm" type="radio" name="exampleRadios" (click)="regra(4)" id="regra4" value="option8" [disabled]=" !ativosCheckDerivacao">
                                <label class="form-check-label col-form-label-sm" for="regra4" (click)="regra(4)">
                                    Negação do Condicional
            
                                </label>
                            </div>
                            <div class="form-check">
                                <input class=" form-check-input  form-control-sm" type="radio" name="exampleRadios" (click)="regra(9)" id="regra9" value="option9" [disabled]="!ativosCheckDerivacao">
                                <label class="form-check-label col-form-label-sm" for="regra9" (click)="regra(9)">
                                    Negação do Bicondicional
                                </label>
                            </div>
                            <div class="btn-acoes">
                                <button type="button" class="btn btn-sm btn-inserir btn-block" (click)="derivar()" [disabled]="regra==null">Derivar</button>
                            </div>
                        </div>
                        <div *ngIf="request.inicio.completa" class="grupo-controles p-3">
                            <button type="button" class="btn btn-sm btn-inserir btn-block " [disabled]=" !ativosBtnFecharRamo  ?true:false" (click)="fechar()"> Fechar Ramo</button>
                            <button type="button" class="btn btn-sm btn-negar btn-block"    [disabled]=" !ativosBtnTicarNo ?true:false" (click)="ticar()"> Ticar Nó</button> 
                        </div>
                        <div class="p-3 text-center">
                            <button type="submit" class="btn btn-sm botao-primario mx-2 " (click)=fechar() >Cancelar</button>
                            <button type="submit" class="btn btn-sm botao-primario mx-2 "  (click)="salvar()" [disabled]="request.inicio.lista.length==0">Salvar</button>
                        </div>
                    
                    </div>
                </div>

                <div class="conteudo-personalizar shadow-sm ">
                    <div class="container"  aria-controls="console-id">
                        <div class=" titulo-modal p-2 row">
                            <div class="col-3 text-left p-0">
                                <button type="button" (click)="limparConsole()" class="btn btn-limpar btn-sm"><fa-icon [icon]="limpar"></fa-icon></button>
                            </div>
                            <div class="col-6 text-center minimizar p-0" (click)="isCollapsed = !isCollapsed"  [attr.aria-expanded]="!isCollapsed">
                                <div class=" titulo-modal mr-auto ml-auto">Console</div>
                            </div>
                            <div class="col-3 text-right p-0" >
                                <div *ngIf="carregamentoConsole" class="spinner-border spinner-border-sm text-roxo" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center d-flex justify-content-center w-100" >
                        <div class="barra-modal"></div>
                    </div>
                    <div class="mensaggem-console m-1" id="console-id" [collapse]="isCollapsed" [isAnimated]="true">
                        <code>
                            <ul class="console-ul">
                                <li class="console-li" *ngFor="let console of listaconsole" >
                                    <span *ngIf="console.tipo=='info'" class="info-msg"> {{console.tipo}}: {{console.msg}}</span>
                                    <span *ngIf="console.tipo=='error'" class="error-msg"> {{console.tipo}}: {{console.msg}}</span>
                                    <span *ngIf="console.tipo=='sucesso'" class="sucesso-msg">{{console.tipo}}: {{console.msg}}</span>
                                
                                </li>
                            </ul>
                        </code>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="errorMensagen!=null">
        <div  class="row">
            <div class="container-mensagem"  *ngIf="errorMensagen!=null">
                <div class="alert alert-danger pt-1" role="alert">
                    <div class="row d-flex justify-content-end">
                        <button type="button" class="btn btn-sm btn-fecharAviso" (click)=fecharAvisoError()><fa-icon [icon]="iconFechar"></fa-icon></button>
                    </div>
                    
                    <h5 class="alert-heading text-center">Error!</h5>
                    <p class=" text-center">{{errorMensagen}}</p>
                    <hr class="m-2">
                    <p class="mb-0 text-center">Feche o aviso para tentar novamente!.</p>
                </div>
            </div>
        </div> 

    </div>
</div>

