
.spinner-color{
  color: #1cc88a;
}
.btn-tentar-novamente{
  color: #fff;
  background-color: #1cc88a;
}
.btn-tentar-novamente:hover {
  background-color: #2ca377;
}

.texto-game-over{
  color: #6c757d;
}
.container-game-over{
  background: #ffffff;
}
.titulo-modal-game-over  {
  background: #f6f6f6;
  font-weight: bold;
}
.titulo-game-over {
display: flex;
justify-content: space-between;
background: #f6f6f6;
font-weight: bold;
}
.barra-modal-game-over {
  position: relative;
  top: -2px;
  height: 3px;
  width: 100px;
  border-radius: 2px;
}
.botoes-fim {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.formula-str {
  color: rgb(114, 114, 114);
}
.tautologia {
  display: flex;
  margin: 10px;
  align-items: center;
  cursor: pointer;
}
.contradicao {
  display: flex;
  margin: 10px;
  align-items: center;
  cursor: pointer;
}
.select-tautologia {
  background-image: url('/assets/svg/check-azul.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.select-contradicao {
  background-image: url('/assets/svg/check-vermelho.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.icon-select-tautologia {
  border: 1px solid #6c757d;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  margin-right: 5px;
}
.icon-select-contradicao {
  border: 1px solid #6c757d;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  margin-right: 5px;
}