
.spinner-color{
  color: #1cc88a;
}


.texto-game-over{
  color: #6c757d;
}
.container-game-over{
  background: #ffffff;
}
.titulo-modal-game-over  {
  background: #f6f6f6;
  font-weight: bold;
}
.titulo-game-over {
display: flex;
justify-content: space-between;
background: #f6f6f6;
font-weight: bold;
}
.barra-modal-game-over {
  position: relative;
  top: -2px;
  height: 3px;
  width: 100px;
  border-radius: 2px;
}
.botoes-fim {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.formula-str {
  color: rgb(114, 114, 114);
}