<div class="body">
    <div class="container-fluid py-2">
        <div class="row">
            <div class="col-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h5 class="m-0 font-weight-bold text-primary">Enunciado</h5>
                    </div>
                    <div class="card-body">
                        <p>
                            {{enunciado}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex">
                        <h5 class="m-0 font-weight-bold text-primary mr-auto">Árvore de Refutação</h5>
                        <span *ngIf="carregamentoConsole" class="spinner-border spinner-border-sm text-secondary" role="status">
                            <span class="sr-only">Loading...</span>
                        </span>
                    </div>
                    <div class="card-body">
                        <div class=" d-flex justify-content-between">
                            <div class="d-flex ">
                                <div class="icon-painel">
                                    <fa-icon [icon]="heart" ></fa-icon>
                                    
                                </div>
                                <div class="texto-painel" *ngIf="vida==null">
                                    Sem limite de erros
                                </div>
                                <div class="texto-painel" *ngIf="vida!=null" >
                                    Tentativas restantes = {{vida}}
                                </div>
                                
                            </div>
                            <div class="d-flex">
                                <div class="icon-painel">
                                    <fa-icon [icon]="clock" ></fa-icon>
                                    
                                </div>
                                <div class="texto-painel" *ngIf="minutos_restante!=null">
                                    Tempo restante = 
                                    <span> {{minutos_restante}} Min </span>
                                    <span> {{segundos_restante}} Seg </span>
                                </div>
                                <div class="texto-painel" *ngIf="minutos_restante==null">
                                    Sem limite de tempo
                                </div>   
                            </div>
                        </div>
                        <div class="grupo-controles text-center">
                            <svg width="700" height="660" >
                                <g *ngFor="let item of request.arestas; let i= index;">
                                    <line [attr.x1]=item.linhaX1 [attr.y1]=item.linhaY1 [attr.x2]=item.linhaX2 [attr.y2]=item.linhaY2 stroke="rgb(175,175,175)" stroke-width=1 stroke-linecap="butt"/>
                                </g>
                    
                                <g *ngFor="let item of request.nos; let i= index;" (mouseover)="alterarcor(i)" (mouseleave)="voltarcor(i)" (click)="selecionarNo(i)">
                                    <circle [attr.cx]=item.posX [attr.cy]=item.posY+27 r="3" fill="#AFAFA4"/>
                                    <circle [attr.cx]=item.posX [attr.cy]=item.posY-27 r="3" fill="#AFAFAF"/>
                                    <text font-size="20" font-weight="bold" fill="rgb(175,175,175)" [attr.x]=30 [attr.y]=item.posY+5>Linha {{item.linha}}</text>
                                    <defs>
                                        <linearGradient id="grad1" x1="30%" y1="0%" x2="90%" y2="50%">
                                            <stop offset="0%" style="stop-color:#4E73DF;stop-opacity:1" />
                                            <stop offset="100%" style="stop-color:#3f5bad;stop-opacity:1" />
                                        </linearGradient>
                                        <linearGradient id="grad2" x1="30%" y1="0%" x2="90%" y2="50%">
                                            <stop offset="0%" style="stop-color:#354c8f;stop-opacity:1" />
                                            <stop offset="100%" style="stop-color:#273d7e;stop-opacity:1" />
                                        </linearGradient>
                                        <linearGradient id="grad3" x1="0%" y1="0%" x2="0%" y2="100%">
                                            <stop offset="50%" stop-color="#FFFF00" />
                                            <stop offset="70%" stop-color="#b91d1d" />
                                        </linearGradient>
                    
                                    </defs>
                                    <a class="curso-svg">
                                        <rect [attr.x]=item.posXno [attr.y]=item.posY-20 rx=20 ry=20 [attr.width]=item.tmh height="40" [attr.fill]="item.fill"  [attr.stroke]=item.strokeColor [attr.stroke-width]=item.strokeWidth id="no01"  />
                                        <text text-anchor="middle" font-size="15" font-weight="bold" fill="white"  font-family="Helvetica, sans-serif, Arial" [attr.x]=item.posX [attr.y]=item.posY+5>{{item.str}}</text>
                                        <text font-size="15" font-weight="bold" fill="rgb(175,175,175)" [attr.x]=item.posXlinhaDerivacao [attr.y]=item.posY+25>{{item.linhaDerivacao}}</text>
                                    </a>
                                    <g *ngIf="item.utilizado==true;">
                                        <svg [attr.x]=item.posXlinhaDerivacao+12 [attr.y]=item.posY-10 fill=#61CE61>
                                            <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                                        </svg>
                                    </g>
                                    <g *ngIf="item.fechado==true;">
                                        <line [attr.x1]=item.posX-15 [attr.y1]=item.posY+15 [attr.x2]=item.posX+15 [attr.y2]=item.posY+40 stroke="#DC0F4B" stroke-width=4 stroke-dasharray="1"/>
                                        <line [attr.x1]=item.posX+15 [attr.y1]=item.posY+15 [attr.x2]=item.posX-15 [attr.y2]=item.posY+40 stroke="#DC0F4B" stroke-width=4 stroke-dasharray="1"/>
                                        <text font-size="17" fill="#DC0F4B"  [attr.x]=item.posX-5  [attr.y]=item.posY+70>{{item.linhaContradicao}}</text>        
                                    </g>
                                </g>
                            </svg>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex">
                        <h5 class="m-0 font-weight-bold text-primary mr-auto">Controles</h5>
                        <span *ngIf="carregamentoConsole" class="spinner-border spinner-border-sm text-secondary" role="status">
                            <span class="sr-only">Loading...</span>
                        </span>
                    </div>
                    <div class="card-body"> 
                        <div *ngIf="vida ==0">
                            <div class="imagem-sem-vida">
                                <div class="sem-tentativas">
                                    <button type="button" class="btn btn-sm btn-inserir btn-block" (click)="tentarNovamente()"> Tentar Novamente</button>
                                </div>
                            </div>

                        </div>  

                        <div *ngIf="vida !=0">
                            <div class="grupo-controles mb-3">
                                <div class="mensaggem-console m-1">
                                    <code>
                                        <span *ngIf="msgConsole.tipo=='info'" class="info-msg"> {{msgConsole.tipo}}: {{msgConsole.msg}}</span>
                                        <span *ngIf="msgConsole.tipo=='error'" class="error-msg"> {{msgConsole.tipo}}: {{msgConsole.msg}}</span>
                                        <span *ngIf="msgConsole.tipo=='sucesso'" class="sucesso-msg">{{msgConsole.tipo}}: {{msgConsole.msg}}</span>
                                    </code>
                                </div>    
                            </div>
    
    
                                <!-- Posicionamento dos Primeiros nós na arvore -->
                                 <div *ngIf="!request.inicio.completa" class="grupo-controles p-3 flex-item">
                                    <div class="grupo-check flex-um">
                                        <div class="form-check mb-2" *ngFor="let arg of request.inicio.opcoes ; let i = index">
                                            <input class=" form-check-input form-control-sm" type="radio" name="radioArgumentos" id={{arg.id}} value={{arg.id}} (click)="selecionado(i)">
                                            <label class="form-check-label col-form-label-sm" for={{arg.id}} (click)="selecionado(i)">
                                                {{arg.str}}
                                            </label>
                                        </div>
                                
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-sm btn-inserir btn-block " (click)="adicionaNo(0)" [disabled]="request.inicio.no==null"> Inserir</button>
                                        <button type="button" class="btn btn-sm btn-fechar-ramo btn-block" (click)="adicionaNo(1)"  [disabled]="request.inicio.no==null"> Negar e Inserir</button>
                                    </div>
                                </div> 
                                <!-- Derivação dos elementos da árvore -->
                                 <div *ngIf="request.inicio.completa" class="grupo-controles p-3 mb-3">
                                    <div class="form-check">
                                        <input class=" form-check-input form-control-sm" type="radio" name="exampleRadios" (click)="regra(1)"  id="regra1" value="opcao1"[disabled]=" !ativosCheckDerivacao">
                                        <label class="form-check-label col-form-label-sm" for="regra1" (click)="regra(1)">
                                            Dupla Negação
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class=" form-check-input  form-control-sm" type="radio" name="exampleRadios" (click)="regra(2)" id="regra2" value="opcao2" [disabled]=" !ativosCheckDerivacao">
                                        <label class="form-check-label col-form-label-sm" for="regra2" (click)="regra(2)">
                                            Conjunção 
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class=" form-check-input  form-control-sm" type="radio" name="exampleRadios" (click)="regra(5)" id="regra5" value="option3" [disabled]=" !ativosCheckDerivacao">
                                        <label class="form-check-label col-form-label-sm" for="regra5" (click)="regra(5)">
                                            Disjunção
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class=" form-check-input  form-control-sm" type="radio" name="exampleRadios" (click)="regra(6)" id="regra6" value="option4" [disabled]=" !ativosCheckDerivacao">
                                        <label class="form-check-label col-form-label-sm" for="regra6" (click)="regra(6)">
                                            Condicional
                    
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class=" form-check-input  form-control-sm" type="radio" name="exampleRadios" (click)="regra(7)" id="regra7" value="option5" [disabled]=" !ativosCheckDerivacao">
                                        <label class="form-check-label col-form-label-sm" for="regra7" (click)="regra(7)">
                                            Bicondicional
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class=" form-check-input  form-control-sm" type="radio" name="exampleRadios" (click)="regra(8)" id="regra8" value="option6" [disabled]=" !ativosCheckDerivacao">
                                        <label class="form-check-label col-form-label-sm" for="regra8" (click)="regra(8)">
                                            Negação da Conjunção
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class=" form-check-input  form-control-sm" type="radio" name="exampleRadios" (click)="regra(3)" id="regra3" value="option7" [disabled]=" !ativosCheckDerivacao">
                                        <label class="form-check-label col-form-label-sm" for="regra3" (click)="regra(3)">
                                            Negação da Disjunção
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class=" form-check-input  form-control-sm" type="radio" name="exampleRadios" (click)="regra(4)" id="regra4" value="option8" [disabled]=" !ativosCheckDerivacao">
                                        <label class="form-check-label col-form-label-sm" for="regra4" (click)="regra(4)">
                                            Negação do Condicional
                    
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class=" form-check-input  form-control-sm" type="radio" name="exampleRadios" (click)="regra(9)" id="regra9" value="option9" [disabled]="!ativosCheckDerivacao">
                                        <label class="form-check-label col-form-label-sm" for="regra9" (click)="regra(9)">
                                            Negação do Bicondicional
                                        </label>
                                    </div>
                                    <div class="btn-acoes">
                                        <button type="button" class="btn btn-sm btn-inserir btn-block" (click)="derivar()" [disabled]="regra==null">Derivar</button>
                                    </div>
                                </div>
                                <div *ngIf="request.inicio.completa" >
                                    <div *ngIf="!request.fechar.auto || !request.ticar.auto" class="grupo-controles p-3">
                                        <button *ngIf="!request.fechar.auto" type="button" class="btn btn-sm btn-fechar-ramo btn-block " [disabled]=" !ativosBtnFecharRamo  ?true:false" (click)="fechar()"> Fechar Ramo</button>
                                        <button *ngIf="!request.ticar.auto"  type="button" class="btn btn-sm btn-ticar btn-block"    [disabled]=" !ativosBtnTicarNo ?true:false" (click)="ticar()"> Ticar Nó</button> 
                                    </div>                                          
                                </div>   
                        </div>
 
                    </div>
                </div>
                <div class="botoes-fim mt-2">
                    <div>
                        <div _ngcontent-pms-c42="" class="btn-group mx-2">
                            <button class="btn btn-sm btn-icon">
                                <fa-icon [icon]="close"></fa-icon>
                            </button>
                            <button class="btn btn-sm btn-func">
                                Desistir
                            </button>
                        </div>

                        <div  class="btn-group mx-2" *ngIf="vida !=0">
                            <button class="btn btn-sm btn-icon">
                                <fa-icon [icon]="check"></fa-icon>
                            </button>
                            <button class="btn btn-sm btn-func">
                                Concluir
                            </button>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
