<div class="container-fluid py-2 h-100">
  <div *ngIf="buscandoExercicio" class="text-center my-4">
    <span class="spinner-border spinner-border spinner-color" role="status">
      <span class="sr-only">Loading...</span>
    </span>
  </div>
  <div *ngIf="!buscandoExercicio" class="row h-100 py-2 py-md-4">
    <div class="col-md-8 order-last px-0 px-md-3">
      <div class="mx-2 mx-md-0 mt-2 mt-md-0 h-100">
        <app-derivacao
          color="#4e73df"
          colorSecundary="#4e73df"
          colorSecundaryFinal="#3f5bad"
          colorBase="#354c8f"
          colorBaseFinal="#273d7e"
          [arvoreManager]="arvoreManager"
          [selecao]="selecao"></app-derivacao>
      </div>
    </div>
    <div class="col-md-4 order-md-last d-flex flex-column px-0 px-md-3">
      <div class="mx-2 mx-md-0 mt-2 mt-md-0">
        <app-console [console]="console" color="#4e73df"></app-console>
      </div>

      <div class="mx-2 mx-md-0 mt-2 mt-md-4">
        <app-placar
          [saude]="saude"
          color="#4e73df"
          [enunciado]="exercicio.enunciado"></app-placar>
      </div>

      <div class="mx-2 mx-md-0 mt-2 mt-md-4 h-100">
        <app-controles
          *ngIf="
            (saude.tentativas == null ||
              (saude.tentativas != null && saude.tentativas.atual != 0)) &&
            (saude.tempo == null ||
              (saude.tempo != null && saude.tempo.atual != 0)) &&
            !arvoreManager.getArvore().isCompleto
          "
          color="#4e73df"
          [textoFormula]="arvoreManager.getArvore().formula.texto"
          [etapasEmProgresso]="etapasEmProgresso"
          [arvoreManager]="arvoreManager"
          [passos]="passos"
          [console]="console"
          [selecao]="selecao"
          (eventAdicionar)="adicionar($event)"
          (eventDerivar)="derivar()"
          (eventFechar)="fechar()"
          (eventTicar)="ticar()"></app-controles>

        <div
          *ngIf="
            ((saude.tentativas != null && saude.tentativas.atual == 0) ||
              (saude.tempo != null && saude.tempo.atual == 0)) &&
            !arvoreManager.getArvore().isCompleto
          "
          class="container-game-over shadow-sm h-100 d-flex flex-column">
          <div
            class="text-center titulo-modal-game-over p-2"
            style="color: #4e73df">
            <span>Controles</span>
          </div>
          <div class="text-center d-flex justify-content-center w-100">
            <div
              class="barra-modal-game-over"
              style="background-color: #4e73df"></div>
          </div>
          <div class="p-3 flex-um d-flex flex-column">
            <div
              class="flex-um d-flex flex-column align-items-center justify-content-center">
              <img
                class="img-fluid"
                src="assets/img/emoji-triste.png"
                alt="condicional"
                style="max-width: 124px; max-height: 130px" />
              <h6
                *ngIf="saude.tentativas != null && saude.tentativas.atual == 0"
                class="mb-3 text-center texto-game-over">
                Que pena, suas vidas acabaram. Mas não se preocupe, você pode
                tentar novamente porém sua pontução será menor.
              </h6>
              <h6
                *ngIf="saude.tempo != null && saude.tempo.atual == 0"
                class="mb-3 text-center texto-game-over">
                Que pena, seu tempo acabou. Mas não se preocupe, você pode
                tentar novamente porém sua pontução será menor.
              </h6>
            </div>
            <button
              *ngIf="!reiniciandoExercicio"
              type="button"
              class="btn btn-sm btn-tentar-novamente btn-block mt-2"
              (click)="tentarNovamente()">
              Tentar Novamente
            </button>
            <div *ngIf="reiniciandoExercicio" class="text-center">
              <span
                class="spinner-border spinner-border-sm spinner-color"
                role="status">
                <span class="sr-only">Loading...</span>
              </span>
            </div>
          </div>
        </div>

        <div
          *ngIf="arvoreManager.getArvore().isCompleto"
          class="container-game-over shadow-sm h-100 d-flex flex-column">
          <div
            class="text-center titulo-modal-game-over p-2"
            style="color: #4e73df">
            <span>Controles</span>
          </div>
          <div class="text-center d-flex justify-content-center w-100">
            <div
              class="barra-modal-game-over"
              style="background-color: #4e73df"></div>
          </div>
          <div class="p-3 flex-um d-flex flex-column">
            <div class="botoes-fim mt-2">
              <div
                *ngIf="resposta.sucesso == null"
                class="text-center d-flex align-items-center flex-column">
                <img
                  class="img-fluid"
                  src="assets/img/emoji-simpatico.png"
                  style="max-width: 124px; max-height: 130px" />
                <span class="formula-str mb-3">
                  Parabéns, você concluir a derivação! Agora responda.
                </span>
              </div>
              <div
                *ngIf="resposta.sucesso == false"
                class="text-center d-flex align-items-center flex-column">
                <img
                  class="img-fluid"
                  src="assets/img/emoji-triste.png"
                  style="max-width: 124px; max-height: 130px" />
                <span class="formula-str">Ops, resposta incorreta!</span>
              </div>
              <div
                *ngIf="resposta.sucesso == true"
                class="text-center d-flex align-items-center flex-column">
                <img
                  class="img-fluid"
                  src="assets/img/emoji-feliz.png"
                  alt="condicional"
                  style="max-width: 124px; max-height: 130px" />
                <span class="formula-str">Parabéns! Exercício concluído</span>
              </div>

              <div class="text-center" *ngIf="resposta.sucesso != true">
                <h6>Esta fórmula é uma:</h6>
                <div class="d-flex">
                  <div
                    class="tautologia"
                    (click)="respostaExercicio('TAUTOLOGIA')">
                    <div
                      class="icon-select-tautologia"
                      [ngClass]="resposta.classes.tautologia"></div>
                    <span>Tautologia</span>
                  </div>
                  <div
                    class="contradicao"
                    (click)="respostaExercicio('CONTRADICAO')">
                    <div
                      class="icon-select-contradicao"
                      [ngClass]="resposta.classes.contradicao"></div>
                    <span>Contradição</span>
                  </div>
                </div>
                <div class="d-flex justify-content-center">
                  <button
                    *ngIf="console.isLoading() != true"
                    class="btn btn-sm btn-tentar-novamente"
                    (click)="validarResposta()"
                    [disabled]="console.isLoading() == true">
                    Validar resposta
                  </button>
                </div>
                <div
                  *ngIf="console.isLoading() == true"
                  class="spinner-border spinner-border-sm text-center spinner-color"
                  role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
