<div class="container">
  <app-header-formulario
    titulo="Editar Usuário"
    linkVoltar="/painel/usuarios">
  </app-header-formulario>
  <div class="row">
    <div class="col-md-12">
      <form #formUsuario="ngForm" *ngIf="!requisitando">
        <div class="form-row">
          <div class="form-group col-12 mb-2">
            <label class="col-form-label-sm mb-0" for="nome">Nome</label>
            <input
              type="text"
              class="form-control form-control-sm"
              id="nome"
              name="nome"
              [(ngModel)]="usuario.nome"
              required />
          </div>
          <div class="form-group col-12 mb-2">
            <label class="col-form-label-sm mb-0" for="email">Email</label>
            <input
              type="text"
              class="form-control form-control-sm"
              id="email"
              name="email"
              [(ngModel)]="usuario.email"
              required />
          </div>
          <div class="form-group col-12 mb-2">
            <label class="col-form-label-sm mb-0" for="password">Senha</label>
            <input
              type="password"
              class="form-control form-control-sm"
              id="password"
              name="password"
              [(ngModel)]="usuario.password" />
          </div>

          <div class="form-group col-12 mb-2">
            <div class="form-check">
              <input
                class="form-check-input form-control-sm"
                type="checkbox"
                id="ativo"
                name="ativo"
                [(ngModel)]="usuario.ativo" />
              <label class="form-check-label col-form-label-sm" for="ativo">
                Ativo
              </label>
            </div>
          </div>

          <div class="form-group col-12 text-right">
            <button
              (click)="editarUsuario()"
              class="btn btn-padrao"
              [disabled]="!formUsuario.form.valid ? true : false">
              Salvar
            </button>
          </div>
        </div>
      </form>
      <app-spinner *ngIf="requisitando"></app-spinner>
    </div>
  </div>
</div>
