




 .cor-fundo1{
    background-color: 	#F6F6F6;
}


.cor-fundo2{
    background-color: rgb(85,217,202);  
    color: #F0F8FF!important;
}









.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: 	#c5c5c5;
    cursor:pointer;
}

.nav-link:hover {
    color:            #af9eeb;

}

.nav-link.active {
    color:            #6E52D2;
    font-weight: bold;
    border-bottom: 5px solid #6E52D2 ;
    /* border-radius: 0% !important; */
    padding-bottom: 0px!important;
    background-color: transparent!important;
}