<div
  *ngIf="show"
  [config]="{ show: true }"
  (onHide)="onHide()"
  bsModal
  #autoShownModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-auto-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body text-center p-0">
        <div class="text-center titulo-modal p-2">
          <span>{{ title }}</span>
        </div>
        <div class="text-center d-flex justify-content-center w-100">
          <div class="barra-modal"></div>
        </div>
        <div class="p-3 w-100">
          <div *ngIf="!requisitando">
            <div
              id="cadastrar"
              [collapse]="cadastrarColapse"
              [isAnimated]="true">
              <div class="well well-lg card card-block card-header">
                <h5 class="text-center">Criar</h5>
                <form #formRecompensa="ngForm">
                  <div class="form-row">
                    <div class="form-group col-12 mb-2">
                      <label class="col-form-label-sm mb-0" for="inputEmail4"
                        >Nome da recompensa</label
                      >
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="nome"
                        name=".nome"
                        [(ngModel)]="recompensa.nome"
                        required />
                    </div>

                    <div class="form-group col-12 mb-4">
                      <label class="col-form-label-sm mb-0" for="inputPassword4"
                        >Pontuação</label
                      >
                      <input
                        type="number"
                        class="form-control form-control-sm"
                        id="pontuacao"
                        name="pontuacao"
                        [(ngModel)]="recompensa.pontuacao"
                        required />
                    </div>
                    <div class="form-group col-12 text-right">
                      <button
                        (click)="cadastrarRecompensa()"
                        class="btn btn-padrao"
                        [disabled]="!formRecompensa.form.valid ? true : false">
                        Salvar
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div id="editar" [collapse]="editarColapse" [isAnimated]="true">
              <div class="well well-lg card card-block card-header">
                <h5 class="text-center">Editar</h5>
                <div>
                  <label class="col-form-label-sm mb-0" for="id_recompensa"
                    >Recompensas</label
                  >
                  <select
                    id="idRecompensaSelecionada"
                    name="idRecompensaSelecionada"
                    [(ngModel)]="idRecompensaSelecionada"
                    class="form-control form-control-sm"
                    (change)="preencherForms()">
                    <option
                      *ngFor="let recompensa of listaRecompensas; let i = index"
                      value="{{ i }}">
                      {{ recompensa.nome }}
                    </option>
                  </select>
                  <hr />
                </div>

                <form #formRecompensaEditar="ngForm" *ngIf="!exibirFormEditar">
                  <div class="form-row">
                    <div class="form-group col-12 mb-2">
                      <label class="col-form-label-sm mb-0" for="inputEmail4"
                        >Nome da recompensa</label
                      >
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="nome"
                        name=".nome"
                        [(ngModel)]="recompensa.nome"
                        required />
                    </div>

                    <div class="form-group col-12 mb-4">
                      <label class="col-form-label-sm mb-0" for="inputPassword4"
                        >Pontuação</label
                      >
                      <input
                        type="number"
                        class="form-control form-control-sm"
                        id="pontuacao"
                        name="pontuacao"
                        [(ngModel)]="recompensa.pontuacao"
                        required />
                    </div>
                    <div class="form-group col-6 text-left">
                      <button
                        (click)="deletarRecompensa()"
                        class="btn btn-padrao mx-auto">
                        Excluir
                      </button>
                    </div>
                    <div class="form-group col-6 text-right">
                      <button
                        (click)="editarRecompensa()"
                        class="btn btn-padrao"
                        [disabled]="
                          !formRecompensaEditar.form.valid ? true : false
                        ">
                        Salvar
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <hr />
            <button
              *ngIf="cadastrarColapse"
              type="button"
              class="btn mx-3"
              (click)="exibirColapse(1)"
              [attr.aria-expanded]="!cadastrarColapse"
              aria-controls="cadastrar"
              style="color: #dcdcdc; font-size: small">
              voltar para criação
            </button>
            <button
              *ngIf="editarColapse"
              type="button"
              class="btn mx-3"
              (click)="exibirColapse(2)"
              [attr.aria-expanded]="!editarColapse"
              aria-controls="editar"
              style="color: #dcdcdc; font-size: small">
              Deseja editar uma recompensa existente?
            </button>
          </div>
          <app-spinner *ngIf="requisitando"></app-spinner>
          <div *ngIf="error" class="alert alert-danger pt-1" role="alert">
            <span class="text-center"
              >Não foi possível executar essa ação, tente novamente.</span
            >
          </div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>
