<!-- <ng-template #DeletarModal>
    <div class="modal-body text-center p-0">
        <div class=" text-center titulo-modal p-2">
            <span>Deletar Exercício</span>
        </div>
        <div class="text-center d-flex justify-content-center w-100" >
            <div class="barra-modal"></div>
        </div>
        <div class="p-3 w-100 text-center ">
            <p>Realmente deseja deletar?</p>
        </div>
        <div class="pb-3 w-100 text-center" *ngIf="!excluindo">
            <button type="button" class="btn btn-padrao mx-2" (click)="confirmarDelete()" >Sim</button>
            <button type="button" class="btn btn-padrao mx-2" (click)="cancelarDelete()" >Não</button>
        </div>
        <div class="pb-3 w-100 text-center" *ngIf="excluindo">
            <div class="spinner-border text-roxo" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>


    </div>
  </ng-template> -->

<div class="container conteudo-resposta">
  <div class="responsividade-card pb-3">
    <div *ngFor="let resposta of listaResposta" class="">
      <div class="container-resposta">
        <div class="grupo-status">
          <div class="inativo" *ngIf="resposta.resposta_ativa == 0">
            Inativo
          </div>
          <div class="ativo" *ngIf="resposta.resposta_ativa1 != 0">Ativo</div>
        </div>
        <div class="card-resposta shadow-sm">
          <img src="{{ resposta.avatar }}" alt="" class="mx-2 imagem-jogador" />
          <h6 class="mr-auto">{{ resposta.nome }}</h6>
          <div class="grupo mx-3">
            <span class="titulo">{{ resposta.exercicio_nome }}</span>
          </div>
          <div class="grupo mx-3">
            <span class="titulo" *ngIf="resposta.resposta_concluida == 0"
              >Incompleta</span
            >
            <span class="titulo" *ngIf="resposta.resposta_concluida == 1"
              >Completa</span
            >
          </div>
          <div class="grupo mx-3">
            <span class="titulo">Tempo</span>
            <span class="tempo" *ngIf="resposta.exercicio_tempo == null"
              >vazio</span
            >
            <span class="tempo" *ngIf="resposta.exercicio_tempo != null"
              >{{ resposta.exercicio_tempo }} minutos</span
            >
          </div>
          <div class="grupo mx-3">
            <span class="titulo">Pontuação</span>
            <span>
              <span class="pontuacao-total">
                {{ resposta.recompensas_pontuacao }}</span
              >
              <span style="font-size: small">/</span>
              <span class="pontuacao-final">{{
                resposta.resposta_pontuacao
              }}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center folder-resposta">
    <div
      *ngIf="buscando"
      class="spinner-border text-roxo pinner-border-sm mb-2"
      role="status">
      <span class="sr-only">Loading...</span>
    </div>

    <div>
      <div class="btn-group my-1">
        <button
          class="btn btn-sm btn-paginacao"
          (click)="carregarLista('prev')"
          [disabled]="prevPage == 0">
          <fa-icon class="mx-1" [icon]="prev"></fa-icon>
        </button>
        <button class="btn btn-sm btn-paginacao-desabilitado" disabled>
          {{ from }} - {{ to }} de um total de {{ total }}
        </button>
        <button
          type="button"
          class="btn btn-paginacao btn-sm"
          (click)="carregarLista('next')"
          [disabled]="nextPage == 0">
          <fa-icon class="mx-1" [icon]="next"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>
