<div class="conteudo-inicio justify-content-center d-flex flex-column">
  <div class="justify-content-center d-flex flex-column align-items-center">
    <h4 class="titulo-inicio">Validação de Fórmulas da Lógica Proposicional</h4>
    <div class="barra-titulo"></div>
    <div class="mt-1">
      <p class="texto-inicio">
        Aqui você cria exercícios personalizados da lógica proposicional para a
        plataforma
        <a href="https://thelogiclive.com/">Logic Live</a>
        e acompanha as respostas de seus alunos.
      </p>
    </div>
  </div>
  <div class="">
    <app-visualizador-arvore
      [impressaoNo]="listaImpressaoNo"
      [impressaoAresta]="listaImpressaoAresta"
      [width]="widthCanvas"
      [height]="350"></app-visualizador-arvore>
  </div>
</div>
