<div class="">
  <div class="container-fluid py-2">
    <div class="row">
      <div class="col-12">
        <div class="card mb-5">
          <div class="card-header custom-card-header py-3">
            <h6 class="m-0 font-weight-bold">Orientação:</h6>
          </div>
          <div class="card-body">
            <p class="enunciado mb-0">{{ exercicio.enunciado }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card mb-5">
          <div class="card-header custom-card-header py-3 d-flex">
            <h6 class="m-0 font-weight-bold mr-auto">Validação:</h6>
          </div>

          <div class="card-body imagem-back">
            <div class="row">
              <div class="col-md-4 mb-md-4 mb-2">
                <div class="d-flex justify-content-center">
                  <div class="icon-painel shadow-sm" [ngClass]="classTentativa">
                    <fa-icon [icon]="heart"></fa-icon>
                  </div>
                  <div class="texto-painel shadow-sm" *ngIf="tentativas.erros == null">
                    Sem limite de erros
                  </div>
                  <div class="texto-painel shadow-sm" *ngIf="tentativas.erros != null">
                    Tentativas restantes = {{ tentativas.erros }}
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-md-4 mb-2">
                <div class="d-flex justify-content-center">
                  <div class="icon-painel shadow-sm" [ngClass]="classPontuacao">
                    <fa-icon [icon]="trophy"></fa-icon>
                  </div>
                  <div class="texto-painel shadow-sm">
                    Pontuação =
                    <span> {{ pontuacao }}</span>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-md-4 mb-2">
                <div class="d-flex justify-content-center">
                  <div
                    class="icon-painel shadow-sm"
                    [ngClass]="classRiscoTempo">
                    <fa-icon [icon]="clock"></fa-icon>
                  </div>
                  <div
                    class="texto-painel shadow-sm"
                    *ngIf="tentativas.tempo.minutos != null">
                    Tempo restante =
                    <span> {{ tentativas.tempo.minutos }} Min </span>
                    <span> {{ tentativas.tempo.segundos }} Seg </span>
                  </div>
                  <div
                    class="texto-painel shadow-sm"
                    *ngIf="tentativas.tempo.minutos == null">
                    Sem limite de tempo
                  </div>
                </div>
              </div>
            </div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-8 p-0 mb-3">
                  <div
                    class="grupo-controles text-center"
                    style="overflow: auto">
                    <!-- Str Formula -->
                    <div class="container-str-formula text-center">
                      <h6 class="formula-str mb-0">{{ arvore.strformula }}</h6>
                    </div>
                    <svg width="700" height="660">
                      <g *ngFor="let item of arvore.arestas; let i = index">
                        <line
                          [attr.x1]="item.linhaX1"
                          [attr.y1]="item.linhaY1"
                          [attr.x2]="item.linhaX2"
                          [attr.y2]="item.linhaY2"
                          stroke="rgb(175,175,175)"
                          stroke-width="1"
                          stroke-linecap="butt" />
                      </g>

                      <g
                        *ngFor="let item of arvore.nos; let i = index"
                        (mouseover)="alterarcor(i)"
                        (mouseleave)="voltarcor(i)"
                        (click)="selecionarNo(i)">
                        <circle
                          [attr.cx]="item.posX"
                          [attr.cy]="item.posY + 27"
                          r="3"
                          fill="#AFAFA4" />
                        <circle
                          [attr.cx]="item.posX"
                          [attr.cy]="item.posY - 27"
                          r="3"
                          fill="#AFAFAF" />
                        <text
                          font-size="20"
                          font-weight="bold"
                          fill="rgb(175,175,175)"
                          [attr.x]="30"
                          [attr.y]="item.posY + 5">
                          Linha {{ item.linha }}
                        </text>
                        <defs>
                          <linearGradient
                            id="grad1"
                            x1="30%"
                            y1="0%"
                            x2="90%"
                            y2="50%">
                            <stop
                              offset="0%"
                              style="stop-color: #4e73df; stop-opacity: 1" />
                            <stop
                              offset="100%"
                              style="stop-color: #3f5bad; stop-opacity: 1" />
                          </linearGradient>
                          <linearGradient
                            id="grad2"
                            x1="30%"
                            y1="0%"
                            x2="90%"
                            y2="50%">
                            <stop
                              offset="0%"
                              style="stop-color: #354c8f; stop-opacity: 1" />
                            <stop
                              offset="100%"
                              style="stop-color: #273d7e; stop-opacity: 1" />
                          </linearGradient>
                          <linearGradient
                            id="grad3"
                            x1="0%"
                            y1="0%"
                            x2="0%"
                            y2="100%">
                            <stop offset="50%" stop-color="#FFFF00" />
                            <stop offset="70%" stop-color="#b91d1d" />
                          </linearGradient>
                        </defs>
                        <a class="curso-svg">
                          <rect
                            [attr.x]="item.posXno"
                            [attr.y]="item.posY - 20"
                            rx="20"
                            ry="20"
                            [attr.width]="item.tmh"
                            height="40"
                            [attr.fill]="item.fill"
                            [attr.stroke]="item.strokeColor"
                            [attr.stroke-width]="item.strokeWidth"
                            id="no01" />
                          <text
                            text-anchor="middle"
                            font-size="15"
                            font-weight="bold"
                            fill="white"
                            font-family="Helvetica, sans-serif, Arial"
                            [attr.x]="item.posX"
                            [attr.y]="item.posY + 5">
                            {{ item.str }}
                          </text>
                          <text
                            font-size="15"
                            font-weight="bold"
                            fill="rgb(175,175,175)"
                            [attr.x]="item.posXlinhaDerivacao"
                            [attr.y]="item.posY + 25">
                            {{ item.linhaDerivacao }}
                          </text>
                        </a>
                        <g *ngIf="item.utilizado == true">
                          <svg
                            [attr.x]="item.posXlinhaDerivacao + 12"
                            [attr.y]="item.posY - 10"
                            fill="#61CE61">
                            <path
                              d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z" />
                          </svg>
                        </g>
                        <g *ngIf="item.fechado == true">
                          <line
                            [attr.x1]="item.posX - 15"
                            [attr.y1]="item.posY + 15"
                            [attr.x2]="item.posX + 15"
                            [attr.y2]="item.posY + 40"
                            stroke="#DC0F4B"
                            stroke-width="4"
                            stroke-dasharray="1" />
                          <line
                            [attr.x1]="item.posX + 15"
                            [attr.y1]="item.posY + 15"
                            [attr.x2]="item.posX - 15"
                            [attr.y2]="item.posY + 40"
                            stroke="#DC0F4B"
                            stroke-width="4"
                            stroke-dasharray="1" />
                          <text
                            font-size="17"
                            fill="#DC0F4B"
                            [attr.x]="item.posX - 5"
                            [attr.y]="item.posY + 70">
                            {{ item.linhaContradicao }}
                          </text>
                        </g>
                      </g>
                    </svg>
                  </div>
                </div>

                <div class="col-md-4 p-0">
                  <div class="container-controles pl-md-4 pl-0">
                    <!-- Console de mensagens -->
                    <div class="grupo-controles mb-3">
                      <div class="d-flex">
                        <div class="icon-loading">
                          <span
                            *ngIf="carregamentoConsole"
                            class="spinner-border spinner-border-sm"
                            role="status">
                            <span class="sr-only">Loading...</span>
                          </span>
                        </div>
                        <div
                          class="mensaggem-console d-flex justify-content-center align-items-center">
                          <code>
                            <span
                              *ngIf="msgConsole.tipo == 'info'"
                              class="info-msg"
                              >{{ msgConsole.msg }}</span
                            >
                            <span
                              *ngIf="msgConsole.tipo == 'error'"
                              class="error-msg"
                              >{{ msgConsole.msg }}</span
                            >
                            <span
                              *ngIf="msgConsole.tipo == 'sucesso'"
                              class="sucesso-msg"
                              >{{ msgConsole.msg }}</span
                            >
                          </code>
                        </div>
                      </div>
                    </div>

                    <!-- Elementos para exibição do fim das tentativas -->
                    <div
                      *ngIf="
                        (tentativas.tempo.minutos == 0 && tentativas.tempo.segundos == 0) ||
                        tentativas.erros == 0
                      "
                      class="container-erros">
                      <div
                        *ngIf="
                          tentativas.tempo.minutos != 0 &&
                          tentativas.tempo.segundos != 0 &&
                          tentativas.erros == 0
                        "
                        class="imagem-sem-vida"></div>
                      <div
                        *ngIf="
                          tentativas.tempo.minutos == 0 &&
                          tentativas.tempo.segundos == 0 &&
                          tentativas.erros != 0
                        "
                        class="imagem-sem-tempo"></div>
                      <div
                        *ngIf="
                          tentativas.tempo.minutos == 0 &&
                          tentativas.tempo.segundos == 0 &&
                          tentativas.erros == 0
                        "
                        class="sem-tentativas-vida"></div>
                      <div class="container-btn-nova-tentativa">
                        <button
                          type="button"
                          class="btn btn-sm btn-func btn-block"
                          (click)="tentarNovamente()">
                          Tentar Novamente
                        </button>
                      </div>
                    </div>

                    <!-- Elementos do painel de controle -->
                    <div
                      *ngIf="
                      tentativas.erros != 0 &&
                        (tentativas.tempo.minutos != 0 || tentativas.tempo.segundos != 0) &&
                        arvore.finalizada == false
                      ">
                      <!-- Posicionamento dos Primeiros nós na arvore -->
                      <div
                        *ngIf="!arvore.inicio.completa"
                        class="grupo-controles p-3 flex-item">
                        <div class="grupo-check flex-um">
                          <div
                            class="form-check mb-2"
                            *ngFor="
                              let arg of arvore.inicio.opcoes;
                              let i = index
                            ">
                            <input
                              class="form-check-input form-control-sm"
                              type="radio"
                              name="radioArgumentos"
                              id="{{ arg.id }}"
                              value="{{ arg.id }}"
                              (click)="selecionado(i)" />
                            <label
                              class="form-check-label col-form-label-sm"
                              for="{{ arg.id }}"
                              (click)="selecionado(i)">
                              {{ arg.str }}
                            </label>
                          </div>
                        </div>
                        <div>
                          <button
                            type="button"
                            class="btn btn-sm btn-inserir btn-block mt-3"
                            (click)="adicionaNo(0)"
                            [disabled]="
                              arvore.inicio.no == null ||
                              carregamentoConsole == true
                            ">
                            Inserir
                          </button>
                          <button
                            type="button"
                            class="btn btn-sm btn-fechar-ramo btn-block"
                            (click)="adicionaNo(1)"
                            [disabled]="
                              arvore.inicio.no == null ||
                              carregamentoConsole == true
                            ">
                            Negar e Inserir
                          </button>
                        </div>
                      </div>

                      <!-- Derivação dos elementos da árvore -->
                      <div
                        *ngIf="arvore.inicio.completa"
                        class="grupo-controles p-3 mb-3">
                        <div
                          class="form-check"
                          *ngFor="let reg of arvore.regras; let i = index">
                          <input
                            class="form-check-input form-control-sm"
                            type="radio"
                            name="exampleRadios"
                            (click)="regra(reg.id)"
                            id="{{ 'regra' + reg.id }}"
                            value="{{ 'opcao' + reg.id }}"
                            [disabled]="!ativosCheckDerivacao" />
                          <label
                            class="form-check-label col-form-label-sm"
                            for="{{ 'regra' + reg.id }}"
                            (click)="regra(reg.id)">
                            {{ reg.str }}
                          </label>
                        </div>
                        <div class="btn-acoes">
                          <button
                            type="button"
                            class="btn btn-sm btn-inserir btn-block mt-3"
                            (click)="derivar()"
                            [disabled]="
                              regra == null ||
                              carregamentoConsole == true ||
                              !ativosCheckDerivacao
                            ">
                            Derivar
                          </button>
                        </div>
                      </div>

                      <!-- botões para fechar e ticar um nó -->
                      <div *ngIf="arvore.inicio.completa">
                        <div
                          *ngIf="!arvore.fechar.auto || !arvore.ticar.auto"
                          class="grupo-controles p-3">
                          <button
                            *ngIf="!arvore.fechar.auto"
                            type="button"
                            class="btn btn-sm btn-fechar-ramo btn-block"
                            [disabled]="
                              ativosBtnFecharRamo == false ||
                              carregamentoConsole == true
                            "
                            (click)="fechar()">
                            Fechar Ramo
                          </button>
                          <button
                            *ngIf="!arvore.ticar.auto"
                            type="button"
                            class="btn btn-sm btn-ticar btn-block"
                            [disabled]="
                              ativosBtnTicarNo == false ||
                              carregamentoConsole == true
                            "
                            (click)="ticar()">
                            Ticar Nó
                          </button>
                        </div>
                      </div>
                    </div>
                    <div
                      *ngIf="
                        arvore.finalizada &&
                        tentativas.erros != 0 &&
                        (tentativas.tempo.minutos != 0 || tentativas.tempo.segundos != 0)
                      "
                      class="botoes-fim mt-2">
                      <div *ngIf="resultado == null" class="text-center">
                        <img
                          class="img-fluid"
                          src="assets/img/emoji-simpatico.png"
                          alt="condicional"
                          style="max-width: 124px; max-height: 130px" />
                        <h6 class="formula-str mb-3">
                          Derivação finalizada, agora responda!
                        </h6>
                      </div>
                      <div
                        *ngIf="resultado == false"
                        class="text-center"
                        class="text-center">
                        <img
                          class="img-fluid"
                          src="assets/img/emoji-triste.png"
                          alt="condicional"
                          style="max-width: 124px; max-height: 130px" />
                        <h6 class="formula-str">Ops, resposta incorreta!</h6>
                      </div>
                      <div
                        *ngIf="resultado == true"
                        class="text-center"
                        class="text-center">
                        <img
                          class="img-fluid"
                          src="assets/img/emoji-feliz.png"
                          alt="condicional"
                          style="max-width: 124px; max-height: 130px" />
                        <h6 class="formula-str">
                          Parabéns!, exercício concluído
                        </h6>
                      </div>

                      <div class="text-center">
                        <h5>Esta fórmula é uma:</h5>
                        <div class="resposta-final">
                          <div
                            class="tautologia"
                            (click)="respostaExercicio('T')">
                            <div
                              class="icon-select-tautologia"
                              [ngClass]="selectTautologia"></div>
                            <span>Tautologia</span>
                          </div>
                          <div
                            class="contradicao"
                            (click)="respostaExercicio('C')">
                            <div
                              class="icon-select-contradicao"
                              [ngClass]="selectContradicao"></div>
                            <span>Contradição</span>
                          </div>
                        </div>

                        <div class="d-flex justify-content-center">
                          <div
                            class="btn-group mx-2 mt-3"
                            *ngIf="
                              tentativas.erros != 0 &&
                              (tentativas.tempo.minutos != 0 || tentativas.tempo.segundos != 0)
                            ">
                            <button
                              class="btn btn-sm btn-icon"
                              [disabled]="carregamentoConsole == true">
                              <fa-icon [icon]="check"></fa-icon>
                            </button>
                            <button
                              class="btn btn-sm btn-func"
                              (click)="validarResposta()"
                              [disabled]="carregamentoConsole == true">
                              Validar resposta
                            </button>
                          </div>
                        </div>
                        <div
                          *ngIf="carregamentoConsole"
                          class="spinner-border spinner-border-sm text-center text-roxo"
                          role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
