.config-usuario{
    position: absolute;
    top: 10px;
    left: 20px;
    color: white;
    font-weight: bold;
}

.login-usuario{
    position: absolute;
    top: 10px;
    right: 20px;

}

.btn-email{
    color: white;
    font-weight: bold;
}

.cursor-drop{
    cursor: pointer;
}

