body,
html {
  height: 100%;
}

.body {
  padding: 0;
  margin: 0;
}



.nav-bar {
  /* background: rgb(85,217,202); */
  /* background:   linear-gradient(180deg, rgba(85,217,202,1) 7%, rgba(95,165,206,1) 47%, rgba(106,112,210,1) 90%, rgba(106,112,210,1) 99%); */
  background: rgba(106, 112, 210, 1);
}

@media (min-width: 576px) {
  .modal-xl {
    max-width: 100% !important;
    min-height: 100% !important;
    margin: 0 !important;
    padding: 1rem !important;
  }
  .modal-xl > .modal-content {
    min-height: 100% !important;
    background-color: transparent !important;
  }
}



.flex-conteudo {
  flex: 1;
}

.dropdown-menu.show {
  display: table !important;
}


.botao-primario {
  background-color: #a852d2;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.botao-primario:hover {
  color: white;
  background-color: #bc74e0;
}


.grupo-itens {
  display: flex;
  justify-content: flex-end;
}

.navegacao-ativa {
  color: #6e52d2;
  transition: all 0.5s;
}

.caixa-barra {
  position: relative;
  top: 3px;
  width: 100%;
}
.barra-ativa {
  height: 7px;
  width: 100px;
  background: #6e52d2;
  transition: all 0.5s;
}



.item-cor {
  color: #6e52d2;
}

.item-cor:hover {
  color: #6e52d2;
  text-decoration-style: none !important;
}

.modal-content {
  background-clip: initial !important;
  border: 0px transparent !important ;
  border-radius: 0% !important;
}

.dropdown-navegacao {
  color: #888888;
  font-weight: bold;
}

.dropdown-navegacao:hover {
  color: #9d8ed4;
  font-weight: bold;
}

.btn-padrao {
  background-color: #FFFFFF;
  color: #6e52d2;
  font-weight: bold;
  border: 1px solid #6e52d2;
  /* border-radius: 0% !important; */
}

.btn-padrao:hover {
  color: #6e52d2;
  border: 1px solid #6e52d2;
  background-color: #fbfbfb;
}

.text-roxo {
  color: #6e52d2;
}

.btn-tabela {
  color: white;
  background: #f38226;
}
.btn-tabela:hover {
  color: white;
  background: #c3681d;
}

.btn-tabela-delete {
  color: white;
  background: #e83e8c;
}
.btn-tabela-delete:hover {
  color: white;
  background: #b83270;
}

.btn-ativar {
  color: white;
  background: #ffc107;
}
.btn-ativar:hover {
  color: white;
  background: #dea807;
}

.btn-voltar {
  color: #6e52d2;
  font-weight: bold;
}

.btn-voltar:hover {
  color: #4b3d80;
}

.btn-fecharAviso {
  background: transparent;
  color: #721c24;
}

th {
  color: #5e5e5e;
}

.table thead th {
  border-bottom: 2px solid #f5f5f5 !important;
}

.table td,
.table th {
  color: #5e5e5e;
  border-top: 0px !important;
}
.table tbody {
  background-color: #fbfbfb;
}

.table tbody tr:hover {
  background: rgb(241, 241, 241);
}

.form-check-input {
  margin-top: 0px !important;
}

.titulo-modal {
  background: #f6f6f6;
  color: #6e52d2;
  font-weight: bold;
}
.barra-modal {
  position: relative;
  top: -2px;
  height: 3px;
  width: 100px;
  background: #6e52d2;
}



.btn-add-recompensa {
  background: #efefef;
  color: #b2b2b2;
  border-radius: 0 0.2rem 0.2rem 0 !important;
  border-right: 1px solid !important;
  border-top: 1px solid !important;
  border-bottom: 1px solid !important;
}

#id_recompensa {
  border-right: 0px solid !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}


.header-tabela-primeiro {
  background-color: rgb(85, 217, 202) !important;
  border-radius: 15px 0 0 0 !important;
  color: white !important;
  padding: 10px;
}

.header-tabela-ultimo {
  background-color: rgb(85, 217, 202) !important;
  border-radius: 0px 15px 0 0 !important;
  color: white !important;
  padding: 10px;
}
.header-tabela {
  background-color: rgb(85, 217, 202) !important;
  color: white !important;
  padding: 10px;
}

/* ###============== Novo*/

.status-ativo {
  color: #6c757d;
  font-weight: bold;
}

.status-inativo {
  color: #dc3545!important  ;
  font-weight: bold;
}

.folder-tabela-listagem {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.tabela-listagem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteudo-formulario {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.conteudo-pagina{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.btn-inf{
  background: #efefef;
  color: #b2b2b2;
  border-radius: 0.2rem !important;
  border: 1px solid !important;
}

.logic-live-vinculado{
  color: #5e5e5e!important;
  font-weight: bold;
}

.logic-live-nao-vinculado{
  color: #dea807!important;
  font-weight: bold;
}
.flex-item {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.flex-um {
  flex: 1;
}
.btn-pesquisar {
  background: #56d6ca;
  color: #ffffff;
  border-radius:  0.2rem !important;
  border: 1px solid !important;
}
.btn-pesquisar:hover {
  color: white;
  background: #3e9b91;
}
